<button mat-raised-button (click)="isEditable = !isEditable">
    {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
  </button>
  
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="form1">

      <form [formGroup]="form1">
        <ng-template matStepLabel>Datos</ng-template>
        
        <mat-form-field appearance="fill">
          <mat-label>Nombres</mat-label>
          <input matInput placeholder="Nombres" formControlName="nombres" required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" formControlName="apellidos" required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Sexo</mat-label>
            <input matInput placeholder="Sexo" formControlName="sexo" required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input matInput placeholder="Edad" formControlName="edad" required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Lugar Nacimiento</mat-label>
            <input matInput placeholder="Lugar Nacimiento" formControlName="lugar_nacimiento" required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput placeholder="Fecha Nacimiento" formControlName="fecha_nacimiento" required>
        </mat-form-field>
        <br>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>


    </mat-step>
    <mat-step [stepControl]="form2">
      <form [formGroup]="form2">
        <ng-template matStepLabel>Datos 2</ng-template>

        <mat-form-field appearance="fill">
            <mat-label>Direccion</mat-label>
            <input matInput formControlName="direccion" placeholder="direccion" required>
        </mat-form-field>
        <br>

        <mat-form-field>
          <mat-label>Procedencia</mat-label>
          <input matInput formControlName="procedencia" placeholder="procedencia"
                 required>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Ocupacion</mat-label>
            <input matInput formControlName="ocupacion" placeholder="ocupacion"
                   required>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Viajes</mat-label>
            <input matInput formControlName="viajes" placeholder="viajes"
                   required>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono" placeholder="telefono"
                   required>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Telefono referencia</mat-label>
            <input matInput formControlName="telefono_referencia" placeholder="Telefono referencia"
                   required>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Referencia</mat-label>
            <input matInput formControlName="referencia" placeholder="Referencia"
                   required>
        </mat-form-field>
        <br>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>