<div class="contenedorconsulta fade-in">

<div class="consulta">
   <div  class="mat-h2 mat-title "> Paciente : {{nombrePaciente}}</div>
</div>

<div class="paciente containertitle">

</div>

<div class="panel" *ngIf="flagLoading==false">


  <mat-card class="card1" [routerLink]="['/dental/datosconsulta',idconsulta]">
    <img mat-card-image src="/assets/images/consulta.jpg">
    <mat-card-content>
      <mat-card-title>Datos</mat-card-title>
      <mat-card-subtitle style="color: green;">Listo</mat-card-subtitle>
    </mat-card-content>
  </mat-card>


  <mat-card class="card1" [routerLink]="['/dental/examenclinico/',idconsulta]">
    <img mat-card-image src="/assets/images/examenClinico.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Examen clinico</mat-card-title>

      <mat-card-subtitle style="color: red;"
      *ngIf="consultaService.consultaDesdeFirebase?.examenClinico?.pulso===undefined" >Por rellenar</mat-card-subtitle>

      <mat-card-subtitle style="color: green;"
      *ngIf="consultaService.consultaDesdeFirebase?.examenClinico?.pulso!==undefined">Listo</mat-card-subtitle>

    </mat-card-content>
  </mat-card>

  <mat-card class="card1" [routerLink]="['/dental/enfermedadesactuales/',idconsulta]" >
    <img mat-card-image src="/assets/images/hospital.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Enfermedades Actuales</mat-card-title>

      <mat-card-subtitle style="color: red;"
      *ngIf="consultaService.consultaDesdeFirebase?.listaDeEnfermedades.length==0">Por rellenar</mat-card-subtitle>

        <mat-card-subtitle style="color: green;"

        *ngIf="consultaService.consultaDesdeFirebase?.listaDeEnfermedades.length>0"
      >Listo</mat-card-subtitle>

    </mat-card-content>
  </mat-card>

  <mat-card class="card1" [routerLink]="['/dental/odontograma/',idconsulta]">
    <img mat-card-image src="/assets/images/odontograma.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Odontograma</mat-card-title>

      <mat-card-subtitle style="color: red;"
      *ngIf="consultaService.consultaDesdeFirebase?.listDeOdontogramas.length==0"
     >Por rellenar</mat-card-subtitle>

      <mat-card-subtitle style="color: green;"
      *ngIf="consultaService.consultaDesdeFirebase.listDeOdontogramas.length>0">Listo</mat-card-subtitle>

    </mat-card-content>
  </mat-card>

  <mat-card class="card1" [routerLink]="['/dental/receta/',idconsulta]" >
    <img mat-card-image src="/assets/images/receta.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Receta</mat-card-title>
      <mat-card-subtitle style="color: red;"
      *ngIf="consultaService.consultaDesdeFirebase?.listaDeRecetas.length==0">Por rellenar</mat-card-subtitle>

      <mat-card-subtitle style="color: green;"
      *ngIf="consultaService.consultaDesdeFirebase?.listaDeRecetas.length>0"
      >Listo</mat-card-subtitle>

    </mat-card-content>
  </mat-card>

</div>


<div class="footer">
  <mat-spinner  *ngIf="flagLoading==true"></mat-spinner>

    <button *ngIf="flagLoading==false" mat-raised-button color="primary"  style="width: 200px;" (click)="finish()" >Finalizar</button>
 </div>
