.contenedorconsulta {
  display: grid;
  grid-template-areas:
    "consulta  consulta"
    "panel       panel"
    "footer       footer"
  ;

  grid-template-columns: 1fr 1fr;

  width: 100%;
  max-width: 1200px;

  margin: var(--paddingContenedores) auto;
  grid-gap: 15px;
  background-color: var(--primaryBackground);

  border-radius: var(--radiusgeneral);
  box-sizing: border-box;
}


.consulta {
  grid-row: consulta;
  grid-column: consulta;
  justify-content: center;
  display: grid;
  background-color: rgb(231, 231, 231);
}



.footer {
  grid-row: footer;
  grid-column: footer;
  justify-self: center;


}


.paciente {
  grid-row: paciente;
  grid-column: paciente;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
}

.panel {
  grid-row: panel;
  grid-column: panel;

  /* datos propios del panel */


  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(218px, 218px));
  /* grid-auto-columns: 257px; */

  /* grid-auto-flow: column dense; */
  justify-content: center;
  grid-gap: 20px;
  /* justify-content: space-evenly; */
  box-sizing: border-box;

}

.mat-card {
  /* height: 257px; */
  cursor: pointer;
}

.mat-card-image {
  width: 218px;
  height: 182px;
}

@media (max-width:485px) {
  .contenedorconsulta {

    grid-template-areas:
      "consulta  consulta"
      "paciente   paciente"
      "panel       panel"
    ;

    grid-gap: 0px;


    padding: 20px var(--paddingContenedores);
  }

  .paciente {
    text-align: start;
  }


  .subtitlegreen {
    color: greenyellow;
  }


}
