<div  class="loginLayoutContainer">
<div class="loginFormContainer">

  <mat-card class="example-card">
    <form   #f="ngForm" (ngSubmit)="onSubmit(f)" >
    <mat-card-header>
      <mat-card-title class="cardTitle" >Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>


        <mat-form-field class="full-width">
          <mat-label>Correo</mat-label>
          <input matInput [(ngModel)]="email"  required email name="email"
           type="email"    >

          <mat-error *ngIf="f.controls.email && f.controls.email.errors">
           Debe ingresar un correo  <strong>Válido</strong>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input [(ngModel)]="password"  matInput required name="password"
          type="password"    >
          <mat-error *ngIf="f.controls.password && f.controls.password.errors ">
           La contraseña es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>


    </mat-card-content>

      <button type="submit"  mat-flat-button color="primary"
       class="full-width">Entrar</button>

  </form>
  </mat-card>

</div>

</div>


