.loginLayoutContainer{
display: grid;
height: 100vh;
width: 100%;
background-color: cornflowerblue;
overflow: hidden;
}


.loginFormContainer{
  width: 400px;
  align-self: center;
  justify-self: center;
  overflow: hidden;
}

.mat-card-header{

justify-content: center!important;
  align-items: center!important;
}


.full-width {
  width: 100%;
  margin: 10px  0px;
}

