/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.content{
  border-radius: 20px;
  display: grid;
  width: 90%;
  max-width: 1200px;
  height: 700x;
  margin: 50px auto;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "card1 card1"
                        "card2 card2"

                          ;
}

.card1{
  grid-area: card1;
}

.card2{
  grid-area: card2;
}


@media screen and (max-width: 768px){
  .content{
      grid-template-areas: "card1 card1"
                           "card2  card2"


  }
}
