<mat-card class="content">
<mat-horizontal-stepper [linear]="true"  #stepper class="card1">

    <mat-step [stepControl]="form1.control" [editable]="true" >
        <form #form1="ngForm">
            <ng-template matStepLabel>Personal</ng-template>

            <mat-grid-list cols="2" rowHeight="80px">

            <mat-grid-tile>

                    <mat-form-field>
                    <mat-label>DNI</mat-label>
                    <input [(ngModel)]="paciente.dni" [maxlength]="8" pattern="^\d{8}(?:[-\s]\d{4})?$" placeholder="DNI" name="dni" matInput required
                    (keydown.enter)="this.search($event.target.value, form1.controls.dni.errors)"
                    (keyup.enter)="this.keyup()" (focusout)="this.focusout($event.target.value,form1.controls.dni.errors)">
                    <mat-error *ngIf="form1.controls.dni && form1.controls.dni.errors">
                        Debe escribir un dni correcto
                    </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-form-field >
                        <mat-label>Nombres</mat-label>
                        <input [disabled]="disable_data1" pattern="^[a-zA-Z\s]*$"  [(ngModel)]="paciente.nombres" #nombres placeholder="Nombres" name="nombres" matInput required>
                        <mat-error *ngIf="form1.controls.nombres && form1.controls.nombres.errors">
                            Debe escribir los nombres
                        </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-form-field >
                        <mat-label>Edad</mat-label>
                        <input [disabled]="disable_data1" maxlength="2" type="number" pattern="[0-9]*" [(ngModel)]="paciente.edad" placeholder="Edad" name="edad" matInput required>
                        <mat-error *ngIf="form1.controls.edad && form1.controls.edad.errors">
                            Debe escribir una edad valida
                        </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>



                  <mat-grid-tile>
                    <mat-form-field >
                        <mat-label>Apellidos</mat-label>
                        <input  [disabled]="disable_data1" pattern="^[a-zA-Z\s]*$" [(ngModel)]="paciente.apellidos" matInput placeholder="Apellidos" name="apellidos" required>
                        <mat-error *ngIf="form1.controls.apellidos && form1.controls.apellidos.errors">
                            Debe escribir los apellidos
                        </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-form-field >
                        <mat-label>Telefono</mat-label>
                        <input [disabled]="disable_data1" pattern="^9\d{8}$" [maxlength]="9" [(ngModel)]="paciente.telefono" matInput placeholder="Telefono" name="telefono" required>
                        <mat-error *ngIf="form1.controls.telefono && form1.controls.telefono.errors">
                            Debe escribir un telefono valido
                        </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-form-field >
                        <mat-label>Sexo</mat-label>
                        <mat-select [disabled]="disable_data1"  [ngModelOptions]="{standalone: true}"  [(ngModel)]="paciente.sexo" >
                        <mat-option value="m" select=true>Masculino</mat-option>
                        <mat-option value="f">Femenino</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </mat-grid-tile>

                </mat-grid-list >

        </form>
    </mat-step>

    <mat-step [stepControl]="form2.control" [editable]="true" >

        <form #form2="ngForm">
            <ng-template matStepLabel>Basico</ng-template>
            <mat-grid-list cols="2" rowHeight="80px">

              <mat-grid-tile>
                    <mat-form-field >
                        <mat-label>Direccion</mat-label>
                        <input [disabled]="disable_data2" matInput [(ngModel)]="paciente.direccion" name="direccion" placeholder="direccion" required>
                        <mat-error *ngIf="form2.controls.direccion && form2.controls.direccion.errors">
                            Debe escribir la direccion
                        </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>


                  <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Lugar nacimiento</mat-label>
                        <input [disabled]="disable_data2" matInput [(ngModel)]="paciente.lugar_nacimiento" name="lugar_nacimiento" placeholder="Lugar nacimiento"
                               required>
                        <mat-error *ngIf="form2.controls.lugar_nacimiento && form2.controls.lugar_nacimiento.errors">
                            Debe escribir la direccion
                        </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Procedencia</mat-label>
                        <input [disabled]="disable_data2" matInput [(ngModel)]="paciente.procedencia" name="procedencia" placeholder="procedencia"
                               required>
                        <mat-error *ngIf="form2.controls.procedencia && form2.controls.procedencia.errors">
                            Debe escribir la procedencia
                        </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Telefono referencia</mat-label>
                        <input [disabled]="disable_data2" pattern="^9\d{8}$" [maxlength]="9" matInput [(ngModel)]="paciente.telefono_referencia" name="telefono_referencia" placeholder="Telefono referencia">
                        <mat-error *ngIf="form2.controls.telefono_referencia && form2.controls.telefono_referencia.errors">
                            Debe escribir un telefono de referencia valido
                        </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Ocupacion</mat-label>
                        <input [disabled]="disable_data2" matInput [(ngModel)]="paciente.ocupacion" name="ocupacion" placeholder="ocupacion"
                               required>
                        <mat-error *ngIf="form2.controls.ocupacion && form2.controls.ocupacion.errors">
                            Debe escribir la ocupacion
                        </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Referencia</mat-label>
                        <input [disabled]="disable_data2" matInput [(ngModel)]="paciente.referencia" name="referencia" placeholder="Referencia">
                        <mat-error *ngIf="form2.controls.referencia && form2.controls.referencia.errors">
                            Debe escribir la referencia
                        </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Viajes</mat-label>
                        <input [disabled]="disable_data2" matInput [(ngModel)]="paciente.viajes" name="viajes" placeholder="viajes"
                               required>
                        <mat-error *ngIf="form2.controls.viajes && form2.controls.viajes.errors">
                            Debe escribir los viajes
                        </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Fecha nacimiento</mat-label>
                        <input [disabled]="disable_data2" type="date" matInput [(ngModel)]="paciente.fecha_nacimiento" name="fecha_nacimiento" placeholder="Fecha nacimiento"
                               required>
                        <mat-error *ngIf="form2.controls.fecha_nacimiento && form2.controls.fecha_nacimiento.errors">
                            Debe escribir la fecha de nacimiento
                        </mat-error>
                  </mat-form-field>

                </mat-grid-tile>

          </mat-grid-list>
        </form>

    </mat-step>

    <mat-step [stepControl]="form3.control" [editable]="true">

        <form #form3="ngForm">
            <ng-template matStepLabel>Informacion Addicional</ng-template>

            <mat-grid-list cols="2" rowHeight="80px">

              <mat-grid-tile>
                    <mat-form-field >
                        <mat-label>Motivo</mat-label>
                        <input matInput pattern="[a-zA-Z]*" [(ngModel)]="consulta.motivo" placeholder="Motivo" name="motivo" required>
                        <mat-error *ngIf="form3.controls.motivo && form3.controls.motivo.errors">
                          Debe escribir un motivo valido
                        </mat-error>
                    </mat-form-field>
                  </mat-grid-tile>

                    <mat-grid-tile>
                    <mat-form-field >
                        <mat-label>Nombre profesional</mat-label>
                        <input matInput pattern="^[a-zA-Z\s]*$" [(ngModel)]="consulta.nombreprofesional"  placeholder="Nombre profesional" name="nombre_profesional" required>
                        <mat-error *ngIf="form3.controls.nombre_profesional && form3.controls.nombre_profesional.errors">
                          Debe escribir un nombre del profesional valido
                        </mat-error>
                   </mat-form-field>
                  </mat-grid-tile>

                </mat-grid-list>

        </form>

    </mat-step>

    <mat-step [editable]="true">
        <ng-template matStepLabel>Antecedentes</ng-template>
        <app-antecedente [lstantecedentes]="this.paciente.listadeAntecedentes"></app-antecedente>
    </mat-step>

</mat-horizontal-stepper>

<mat-grid-list cols="4" rowHeight="80px"  class="card2">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile><button mat-raised-button color="primary" (click)="back()">Anterior</button></mat-grid-tile>
  <mat-grid-tile><button mat-raised-button color="primary" (click)="next()">{{ this.stepper.selectedIndex ==3 ? 'Finalizar' : 'Siguiente' }}</button></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>

</mat-card>

