<!--
<div class="parent">

    <mat-form-field>
      <input [(ngModel)]="this.tratamiento.nombre_generico_medicamento" matInput placeholder="Nombre generico medicamento">
    </mat-form-field>
  
    <mat-form-field>
        <input [(ngModel)]="this.tratamiento.dosis" matInput placeholder="Dosis">
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="this.tratamiento.via" matInput placeholder="Via">
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="this.tratamiento.tiempo" matInput placeholder="Tiempo">
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="this.tratamiento.cuidado" matInput placeholder="Cuidado">
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="this.tratamiento.examenes_auxiliares" matInput placeholder="Examenes auxiliares">
    </mat-form-field>

    <mat-form-field>
        <input  [(ngModel)]="this.tratamiento.referencia" matInput placeholder="Referencia (lugar y motivo)">
    </mat-form-field>


    <button mat-raised-button (click)="sucess()">Listo</button>
</div>
-->