<mat-toolbar [color]="'primary'">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  Ver y Sonreir
	<span fxFlex></span>





  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">

    <button mat-menu-item (click)="auth.singOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar Sesion</span>
    </button>


  </mat-menu>
</mat-toolbar>
