<div>
    <div style="text-align: center;">
        {{this.diente.numero}}
    </div>
    
    <div>
        <svg width="75" height="75" xmlns="http://www.w3.org/2000/svg">
            <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
           
            <g>
             <title>background</title>
             <rect x="-1" y="-1" width="77" height="77" id="canvas_background" fill="none"/>
             <g id="canvasGrid" display="none">
              <rect id="svg_5" width="100%" height="100%" x="0" y="0" stroke-width="0" fill="url(#gridpattern)"/>
             </g>
            </g>
            <g>
             <title>Layer 1</title>
             <g stroke="null" id="svg_31">
              <ellipse stroke="#000" fill="#ffffff" stroke-width="4" cx="826.27484" cy="427.83425" id="svg_27" rx="244.00001" ry="244.00008"/>
              <line stroke="#000" fill="none" stroke-width="4" stroke-opacity="null" fill-opacity="null" x1="655.04852" y1="258.74676" x2="997.50115" y2="596.92174" id="svg_28" stroke-linejoin="null" stroke-linecap="null"/>
              <line stroke="#000" fill="none" stroke-width="4" stroke-opacity="null" fill-opacity="null" x1="995.72396" y1="256.55505" x2="656.82579" y2="599.11344" id="svg_29" stroke-linejoin="null" stroke-linecap="null"/>
              <ellipse stroke="#000" fill="#ffffff" stroke-width="4" cx="826.27484" cy="427.83425" id="svg_30" rx="95.45375" ry="95.45375"/>
             </g>
             <text fill="#000000" stroke-width="0" stroke-opacity="null" fill-opacity="null" x="-135.73609" y="156.70687" id="svg_2" font-size="24" font-family="sans-serif" text-anchor="start" xml:space="preserve" transform="matrix(0.5288708637652657,0,0,0.5288708637652657,103.46927992878908,74.14710169437986) " stroke="#000"/>
             <g id="svg_13" stroke="null"/>
             <path [attr.fill]="this.diente.cuadrante_1 == null ? '#ffffff' : this.diente.cuadrante_1" id="svg_46" d="m47.30744,27.74717l7.14793,-7.18706l7.15613,-7.2126c16.13,16.36291 10.84289,37.7722 0.27389,48.30409l-14.73478,-14.8426c0.84432,0.63293 8.1427,-10.0653 0.15682,-19.06184l0.00001,0.00001z" stroke-width="4" stroke="#000000"/>
             <path [attr.fill]="this.diente.cuadrante_2 == null ? '#ffffff' : this.diente.cuadrante_2" id="svg_47" d="m27.74144,47.3946l-7.11108,7.22352l-7.11915,7.2491c-16.21347,-16.2802 -11.03593,-37.71625 -0.52093,-48.30206l14.81049,14.76704c-0.84755,-0.62861 -8.09112,10.10682 -0.05933,19.06239l0,0.00001z" stroke-width="4" stroke="#000000"/>
             <path [attr.fill]="this.diente.cuadrante_3 == null ? '#ffffff' : this.diente.cuadrante_3" id="svg_48" d="m27.63862,27.59438l-7.15333,-7.18169l-7.17883,-7.19001c16.43866,-16.05279 37.82282,-10.66495 48.30484,-0.04648l-14.9118,14.66474c0.6369,-0.84133 -10.02686,-8.18999 -19.06089,-0.24656l0.00001,0z" stroke-width="4" stroke="#000000"/>
             <path [attr.fill]="this.diente.cuadrante_4 == null ? '#ffffff' : this.diente.cuadrante_4" id="svg_49" d="m47.08335,47.42944l7.13525,7.19965l7.16074,7.20803c-16.47896,16.01142 -37.84951,10.56985 -48.30481,-0.07493l14.94861,-14.62721c-0.63901,0.83973 10.00624,8.21517 19.06021,0.29446z" stroke-width="4" stroke="#000000"/>
             <ellipse [attr.fill]="this.diente.cuadrante_5 == null ? '#ffffff' : this.diente.cuadrante_5" ry="13.4114" rx="13.4114" id="svg_50" cy="37.44402" cx="37.33651" stroke-width="4" stroke="#000000"/>
            </g>
        </svg>        

    </div>

</div>