 <!--
<div>
    <mat-form-field >
        <mat-label >Servicio</mat-label>
        <mat-select [ngModelOptions]="{standalone: true}" >
          <mat-option  *ngFor="let servicio of servicios" value="{{servicio}}">{{servicio}}</mat-option>
        </mat-select>
       
         <mat-error *ngIf="form.controls.servicio && form.controls.servicio.errors">
          Debe especificar el servicio para poder continuar.
         </mat-error>
       
    </mat-form-field>    
</div>
  -->

<!--
     [(ngModel)]="sesion.servicio"
-->