/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.content{
    display: grid;
    width: 90%;
    max-width: 1200px;
    height: 700px;
    margin: 50px auto;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas: "datos receta"
                         "exaClinico enfermedades"
                          ;
}

.datos{
    border-radius: 20px;
    grid-area: datos;
}

.receta{
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 20px;
    grid-area: receta;
}
.exaClinico{
     border-radius: 20px;
    grid-area: exaClinico;
}

.enfermedades{
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 20px;
    grid-area: enfermedades;
}

@media screen and (max-width: 768px){
    .content{
        grid-template-areas: "datos datos"
                             "receta  receta"
                             "exaClinico exaClinico"
                            "enfermedades enfermedades";

    }
}
