<div *ngFor="let item of consultas" class="content">
    <mat-card class="datos">
        <mat-card-title>DATOS GENERALES :</mat-card-title>
        <br>
        <h3>Nombre: {{item.nombres}} {{item.apellidos}}</h3>
        <h3>Dni: {{item.dni}}</h3>
        <h3>Edad: {{item.edad}}</h3>
        <h3>Motivo: {{item.motivo}} </h3>
    </mat-card>

    <mat-card class="receta">
        <mat-card-title>RECETA :
        <mat-list *ngFor="let item of item.listaDeRecetas">
          <mat-list-item><b> Medicamento:   {{item.nombre_generico_medicamento}}</b>  </mat-list-item>
          <mat-divider></mat-divider>
            <mat-list-item>Dosis: {{item.dosis}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Tiempo {{item.tiempo}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Cuidado {{item.cuidado}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Administracion {{item.via_administracion}} </mat-list-item>
            <mat-divider></mat-divider>
         </mat-list>
        </mat-card-title>
        <!-- <br>
        <div *ngFor="let item of item.listaDeRecetas">
            <h3>Cuidado: {{item.cuidado}}</h3>
            <h3>Medicamento: {{item.nombre_generico_medicamento}}</h3>
            <h3>Dosis: {{item.dosis}}</h3>
            <h3>Tiempo: {{item.tiempo}}</h3>
            <h3>Administracion: {{item.via_administracion}}</h3>
        </div> -->

    </mat-card>

    <mat-card class="enfermedades">
      <mat-card-title>ENFERMEDADES :</mat-card-title>
      <mat-list *ngFor="let item of item.listaDeEnfermedades">
        <mat-list-item><b>Nombre: {{item.nombre}}</b></mat-list-item>
        <mat-divider></mat-divider>
          <mat-list-item> Tiempo: {{item.tiempo}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Sintomas: {{item.sintomas}} </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Relato Cronologico: {{item.relatocronologico}} </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>  Funciones Biologicas: {{item.funcionesbiologicas}} </mat-list-item>
          <mat-divider></mat-divider>
       </mat-list>
      <!-- <br>
      <div *ngFor="let item of item.listaDeEnfermedades">
          <h3>Funciones Biologicas: {{item.funcionesbiologicas}}</h3>
          <h3>Nombre: {{item.nombre}}</h3>
          <h3>Relato Cronologico: {{item.relatocronologico}}</h3>
          <h3>Sintomas: {{item.sintomas}}</h3>
          <h3>Tiempo: {{item.tiempo}}</h3>
      </div> -->
  </mat-card>

    <mat-card class="exaClinico">
        <mat-card-title>EXAMEN CLINICO :</mat-card-title>
        <br>
        <div *ngFor="let item of exaArrayClinica">
            <h3>Examen General: {{item.examenClinicoGeneral}}</h3>
            <h3>Examen Odontologico: {{item.examenClinicoOdontologico}}</h3>
            <h3>F. Cardiaca: {{item.frecuenciaCardiaca}}</h3>
            <h3>F. Respiratoria: {{item.frecuenciaRespiratoria}}</h3>
            <h3>Pulso: {{item.pulso}}</h3>
            <h3>Temperatura: {{item.temperatura}}</h3>
        </div>
    </mat-card>


</div>
