.content {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: 1fr;

    padding: 0px 10px;
    box-sizing: border-box;
  }
  .examenClinicoContainer {
    padding-top: var(--paddingContenedores);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "datosconsulta   "
      "footer          ";
    gap: var(--paddingContenedores);

  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 800px;
  }

  .titleexamenclinico {
    grid-column-start: titledatospago;
    grid-column-end: titledatospago;
    box-sizing: border-box;
    padding: 0px var(--paddingContenedores);
    color: #5B5B5B;
    /* display: grid;

  justify-items: center;
  align-items: center; */
  margin-bottom: var(--paddinggeneral);
  }

  h1{
    margin: 0px;
    }
 .examenclinicofooter {
        grid-column: footer;
        grid-row: footer;
        }

.examenclinico {

 grid-column: datosconsulta;
  grid-row: datosconsulta;
 background-color: var(--primaryBackground);
 border-radius: var(--paddinggeneral);
 box-shadow: var(--boxShadowGeneral);
 max-width: 800px;
 padding: var(--paddingContenedores) 0px;
     }

    .headertitle h1 {
        display: inline;
        padding: 0px;
        margin: 0px;
      }
      .examengriditem {
        box-sizing: border-box;
        padding: 0px var(--paddingContenedores);
        justify-self: center;
        align-self: center;
        width: 100%;
      }

      mat-form-field {
        width: 100%;
      }

      mat-raised-button {
        width: 100% !important;
      }


