<div class="content">
    <form [formGroup]="form"    class="examenClinicoContainer">
    <div class="examenclinico" >

        <div class="titleexamenclinico">
            <h1> Registrar examen clinico</h1>
        </div>


          <div class="examengriditem">
            <mat-form-field class="fullwidth">
              <mat-label>pulso</mat-label>
              <input matInput required formControlName="pulso" name="pulso" type="number" placeholder="digite el puslo del paciente">
                <mat-error>
                  <div   class=" text-danger" *ngIf="form.controls['pulso'].errors?.pattern">
                    El campo solo admite numeros
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['pulso'].errors?.required">
                    Este campo es obligatorio
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['pulso'].errors?.soloespaciosenblanco">
                    No se admiten solo espacios en blanco
                  </div>
                </mat-error>
            </mat-form-field>


            <mat-form-field class="fullwidth">
                <mat-label>Temperatura</mat-label>
                <input matInput required formControlName="temperatura" name="temperatura" type="number"   placeholder="digite la temperatura del paciente"
                  >
                  <mat-error>
                  <div class=" text-danger" *ngIf="form.controls['temperatura'].errors?.pattern">
                    El campo solo admite numeros
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['temperatura'].errors?.required">
                    Este campo es obligatorio
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['temperatura'].errors?.soloespaciosenblanco">
                    No se admiten solo espacios en blanco
                  </div>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="fullwidth">
                <mat-label>Frecuencia Cardiaca</mat-label>
                <input matInput required formControlName="frecuenciaCardiaca" name="frecuenciaCardiaca" type="number"  placeholder="digite la frecuencia Cardiaca del paciente"
                  >
                  <mat-error>
                  <div class=" text-danger" *ngIf="form.controls['frecuenciaCardiaca'].errors?.pattern">
                    El campo solo admite numeros
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['frecuenciaCardiaca'].errors?.required">
                    Este campo es obligatorio
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['frecuenciaCardiaca'].errors?.soloespaciosenblanco">
                    No se admiten solo espacios en blanco
                  </div>
                  </mat-error>
              </mat-form-field>

              <mat-form-field class="fullwidth">
                <mat-label>Frecuencia Respiratoria</mat-label>
                <input matInput required formControlName="frecuenciaRespiratoria"  name="frecuenciaRespiratoria" type="number"  placeholder="digite la frecuencia respiratoria del paciente"
                  >
                  <mat-error>
                  <div class=" text-danger" *ngIf="form.controls['frecuenciaRespiratoria'].errors?.pattern">
                    El campo solo admite numeros
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['frecuenciaRespiratoria'].errors?.required">
                    Este campo es obligatorio
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['frecuenciaRespiratoria'].errors?.soloespaciosenblanco">
                    No se admiten solo espacios en blanco
                  </div>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="fullwidth">
                <mat-label>resumen examen clinico general</mat-label>
                <input matInput required formControlName="examenClinicoGeneral" name="examenClinicoGeneral" type="text" placeholder="resumen examen clinico general"
                  >
                  <mat-error>
                  <div class=" text-danger" *ngIf="form.controls['examenClinicoGeneral'].errors?.pattern">
                    El campo solo admite letras
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['examenClinicoGeneral'].errors?.required">
                    Este campo es obligatorio
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['examenClinicoGeneral'].errors?.soloespaciosenblanco">
                    No se admiten solo espacios en blanco
                  </div>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="fullwidth">
                <mat-label>resumen examen clinico odontologico</mat-label>
                <input matInput required formControlName="examenClinicoOdontologico"  name="examenClinicoOdontologico" type="text" placeholder="resumen examen clinico odontolgico"
                  >
                  <mat-error>
                  <div class=" text-danger" *ngIf="form.controls['examenClinicoOdontologico'].errors?.pattern">
                    El campo solo admite letras
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['examenClinicoOdontologico'].errors?.required">
                    Este campo es obligatorio
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['examenClinicoOdontologico'].errors?.soloespaciosenblanco">
                    No se admiten solo espacios en blanco
                  </div>
                </mat-error>
              </mat-form-field>

          </div>

    </div>
    <div class="examenclinicofooter">
        <button mat-raised-button color="primary" style="width: 100%;" (click)="regresar()">Listo</button>
      </div>
</form>
</div>

