.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
  width: 100%;
}

.container {
  width: 100%;
  height: 200px;
  margin: auto;
}

.one {
  width: 50%;
  height: 300px;
  background: white;
  float: left;
}

.two {
  height: 200px;
  background: white;
}