<div>

  <section class="container">

    <div class="one">
      <svg width="300" height="300" xmlns="http://www.w3.org/2000/svg">
        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
       
        <g>
         <title>background</title>
         <rect x="-1" y="-1" width="302" height="302" id="canvas_background" fill="none"/>
         <g id="canvasGrid" display="none">
          <rect id="svg_5" width="100%" height="100%" x="0" y="0" stroke-width="0" fill="url(#gridpattern)"/>
         </g>
        </g>
        <g>
         <title>Layer 1</title>
         <text fill="#000000" stroke-width="0" stroke-opacity="null" fill-opacity="null" x="-135.73609" y="153.15608" id="svg_2" font-size="24" font-family="sans-serif" text-anchor="start" xml:space="preserve" transform="matrix(0.500000040431537,0,0,0.500000040431537,99.86804619792498,73.92195231578623) " stroke="#000"/>
         <g stroke="null" id="svg_13"/>
         <g stroke="null" id="svg_31">
          <ellipse stroke="#000" fill="#ffffff" stroke-width="4" cx="826.27484" cy="427.83425" id="svg_27" rx="244.00001" ry="244.00008"/>
          <line stroke="#000" fill="none" stroke-width="4" stroke-opacity="null" fill-opacity="null" x1="655.04852" y1="258.74676" x2="997.50115" y2="596.92174" id="svg_28" stroke-linejoin="null" stroke-linecap="null"/>
          <line stroke="#000" fill="none" stroke-width="4" stroke-opacity="null" fill-opacity="null" x1="995.72396" y1="256.55505" x2="656.82579" y2="599.11344" id="svg_29" stroke-linejoin="null" stroke-linecap="null"/>
          <ellipse stroke="#000" fill="#ffffff" stroke-width="4" cx="826.27484" cy="427.83425" id="svg_30" rx="95.45375" ry="95.45375"/>
         </g>
         <g id="svg_51" stroke="null">
          <path (click)="select(1)" [attr.fill]="this.data.cuadrante_1 == null ? '#ffffff' : this.data.cuadrante_1" id="svg_46" d="m191.325,108.90514l30.11881,-30.28365l30.15336,-30.39129c67.96598,68.94738 45.68802,159.15838 1.15407,203.53596l-62.08703,-62.54133c3.55767,2.66695 34.31039,-42.41155 0.66079,-80.31969z" fill-opacity="null" stroke-width="4" stroke="#000000"/>
          <path (click)="select(2)" [attr.fill]="this.data.cuadrante_2 == null ? '#ffffff' : this.data.cuadrante_2" id="svg_47" d="m108.88093,191.69227l-29.96354,30.4373l-29.99753,30.5451c-68.31771,-68.59888 -46.50141,-158.92263 -2.195,-203.5274l62.40607,62.22298c-3.57126,-2.64872 -34.09303,42.58646 -0.25,80.32202z" stroke-width="4" stroke="#000000"/>
          <path (click)="select(3)" [attr.fill]="this.data.cuadrante_3 == null ? '#ffffff' : this.data.cuadrante_3" id="svg_48" d="m108.44772,108.26131l-30.14153,-30.26105l-30.24899,-30.2961c69.26659,-67.64064 159.3717,-44.93823 203.53914,-0.19586l-62.83293,61.79191c2.68367,-3.54507 -42.24955,-34.50967 -80.31569,-1.03891l0,0.00001z" fill-opacity="null" stroke-width="4" stroke="#000000"/>
          <path (click)="select(4)" [attr.fill]="this.data.cuadrante_4 == null ? '#ffffff' : this.data.cuadrante_4" id="svg_49" d="m190.38075,191.83911l30.06537,30.33671l30.17275,30.37203c-69.43637,67.46633 -159.48414,44.53753 -203.53899,-0.31571l62.98804,-61.63379c-2.69257,3.53832 42.16268,34.61575 80.31282,1.24077l0.00001,-0.00001z" fill-opacity="null" stroke-width="4" stroke="#000000"/>
          <ellipse (click)="select(5)" [attr.fill]="this.data.cuadrante_5 == null ? '#ffffff' : this.data.cuadrante_5" ry="56.51081" rx="56.51081" id="svg_50" cy="149.76414" cx="149.31111" fill-opacity="null" stroke-width="4" stroke="#000000"/>
         </g>
        </g>
      </svg>
    </div>

    <div class="two">
      <p><b>Opciones</b></p>
      <input type="radio" id="ninguna" name="option" value="#ffffff" [(ngModel)]="colors">
      <label for="male">Ningunga</label><br>      
      <input type="radio" id="azul" name="option" value="#00007f" [(ngModel)]="colors">
      <label for="male">Azul</label><br>
      <input type="radio" id="rojo" name="option" value="#bf0000" [(ngModel)]="colors">
      <label for="female">Rojo</label><br>
    </div>

  </section>


<div>
    <mat-form-field class="example-full-width">
      <mat-label>Especificacion</mat-label>
      <input [(ngModel)]="this.data.especificacion" matInput>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Observacion</mat-label>
      <input [(ngModel)]="this.data.observacion" matInput>
    </mat-form-field>


    <footer id="modal-footer">
        <button mat-raised-button [mat-dialog-close]="data"  id="modal-action-button" (click)="actionFunction()">Listo</button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Cancelar</button>
    </footer>
</div>

</div>