.content {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: 1fr;

  padding: 0px 10px;
  box-sizing: border-box;
}

.example-container {
  height: 200px;
  width: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;

  justify-items: center;
}

table {
  width: 100%;
}

.pagoContainer {
  padding-top: var(--paddingContenedores);
  display: grid;
  grid-template-columns: min-content 600px;
  grid-template-areas: "datosconsulta listaPagos";
  gap: 15px;
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 1200px;
}

.listaPagos {
  grid-column-start: listaPagos;
  grid-column-end: listaPagos;
  box-sizing: border-box;
  padding: var(--paddingContenedores) 0px;
  max-height: 326px;
}

h1 {
  margin: 0px;
}

.pagofooter {
  grid-column: footer;
  grid-row: footer;
}

.headerPagos {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content;
  padding: 0px var(--paddingContenedores) 0px var(--paddingContenedores);
}

.datosconsulta {
  grid-column: datosconsulta;
  grid-row: datosconsulta;
  box-sizing: border-box;
  display: grid;
  column-gap: var(--gridGap);
  grid-template-columns: 1fr 1fr;
  background-color: var(--primaryBackground);
  width: 600px;
  max-width: 600px;
  max-height: 326px;
  height: 326px;
  padding: var(--paddingContenedores);
}

.headertitle h1 {
  display: inline;
  padding: 0px;
  margin: 0px;
}

.pagogriditem {
  box-sizing: border-box;
  justify-self: center;
  align-self: center;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-raised-button {
  width: 100% !important;
}

@media (max-width: 1200px) {
  .pagoContainer {
    grid-template-areas:
      "datosconsulta"
      "listaPagos";
    grid-template-columns: 1fr;
  }

  .datosconsulta {
    width: unset;
    max-width: 1200px;
  }
}
