<div class="content">
  <form (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm" class="pagoContainer">
    <mat-card class="listaPagos mat-elevation-z3">
      <div class="headerPagos">
        <div class="titulo2">Lista de pagos</div>

        <button mat-raised-button type="button" color="primary" style="
            border-radius: var(--roudedButtonSize);
            width: fit-content;
            justify-self: end;
          " (click)="openDialog()">
          <mat-icon>add</mat-icon> Nuevo Pago
        </button>
      </div>

      <div class="example-container">
        <mat-spinner [diameter]="50" *ngIf="loadingFlag == true"></mat-spinner>

        <div class="headLine3" *ngIf="dataSource?.data?.length == 0 && loadingFlag == false">
          No tiene pagos registrados.
        </div>

        <table *ngIf="dataSource?.data?.length > 0" mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="Concepto">
            <th mat-header-cell *matHeaderCellDef>Concepto</th>
            <td mat-cell *matCellDef="let row">{{ row.concepto }}</td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="Monto">
            <th mat-header-cell *matHeaderCellDef>Monto</th>
            <td mat-cell *matCellDef="let row">{{ row.monto }}</td>
          </ng-container>

          <!-- State Column -->
          <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let row">{{ row.fecha | date }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card>
    <mat-card class="datosconsulta mat-elevation-z3">
      <div class="titulo2">Datos de consulta</div>
      <div></div>
      <div class="pagogriditem">
        <mat-form-field class="fullwidth">
          <mat-label>Codigo de consulta</mat-label>
          <input disabled matInput required [(ngModel)]="idconsulta" name="idConsulta" id="idConsulta"
            placeholder="digite el codigo de la consulta" />
        </mat-form-field>
      </div>

      <div class="pagogriditem">
        <mat-form-field class="fullwidth">
          <mat-label>Nombre del paciente</mat-label>
          <input matInput required name="apellidos" [(ngModel)]="selectedConsulta.apellidos" name="apellidos"
            placeholder="digite el nombre del paciente" disabled />
        </mat-form-field>
      </div>

      <div class="pagogriditem">
        <mat-form-field class="fullwidth">
          <mat-label>Apellidos del paciente</mat-label>
          <input matInput required [(ngModel)]="selectedConsulta.nombres" name="nombres"
            placeholder="digite el nombre del paciente" disabled />
        </mat-form-field>
      </div>

      <div class="pagogriditem">
        <mat-form-field class="fullwidth">
          <mat-label>DNI</mat-label>
          <input matInput required [(ngModel)]="selectedConsulta.dni" name="dni" id="dni" disabled />
        </mat-form-field>
      </div>

      <div class="pagogriditem">
        <mat-form-field class="fullwidth">
          <mat-label>Motivo de consulta</mat-label>
          <input matInput required [(ngModel)]="selectedConsulta.motivo" name="motivo" id="motivo" disabled />
        </mat-form-field>
      </div>

      <div class="pagogriditem">
        <mat-form-field class="fullwidth">
          <mat-label>Fecha - hora</mat-label>
          <input matInput required [(ngModel)]="selectedConsulta.fecha" name="fecha" id="fecha" disabled />
        </mat-form-field>
      </div>
    </mat-card>
  </form>
</div>
