<div class="eacontainer fade-in">

  <form class="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="col-2 title"><h1>Agregar enfermedades actuales</h1></div>
    <div >

      <mat-form-field >
        <mat-label >Enfermedad</mat-label>
        <input matInput [(ngModel)]="enfermedad.nombre" required name="nombre"
         placeholder="Digite el nombre de la enfermedad" value="Hipertension">

         <mat-error *ngIf="form.controls.nombre && form.controls.nombre.errors">
          Debe escribir una enfermedad para poder continuar.
         </mat-error>
        </mat-form-field>

    </div>

    <div >


      <mat-form-field  >
        <mat-label>Tiempo</mat-label>
        <input matInput [(ngModel)]="enfermedad.tiempo" required name="tiempo"
        placeholder="Digite el tiempo de la enfermedad" value="2 anios">

        <mat-error *ngIf="form.controls.tiempo && form.controls.tiempo.errors">
          Debe especificar un tiempo para poder continuar.
         </mat-error>
      </mat-form-field>

    </div>
    <div class="col-2">

      <mat-form-field  >
        <mat-label>Sintomas</mat-label>
        <input matInput  [(ngModel)]="enfermedad.sintomas" required name="sintomas"
        placeholder="Digite los sintomas separados por comas" value="mareos, dolor de cabeza, etc">
        <mat-error *ngIf="form.controls.sintomas && form.controls.sintomas.errors">
          Debe especificar los sintomas para poder continuar.
         </mat-error>
      </mat-form-field>

    </div>
    <div class="col-2">

      <mat-form-field  >
        <mat-label>Funciones biológicas</mat-label>
        <input matInput [(ngModel)]="enfermedad.funcionesbiologicas" required name="funcionesbiologicas"
        placeholder="Digite el tiempo de la enfermedad separado por comas" value="funcion1, funcion2, funcion3">
        <mat-error *ngIf="form.controls.funcionesbiologicas && form.controls.funcionesbiologicas.errors">
          Debe especificar las fuciones biológicas para poder continuar.
         </mat-error>
      </mat-form-field>

    </div>
    <div class="col-2">

      <mat-form-field  >
        <mat-label>Relato cronológico</mat-label>
        <input matInput [(ngModel)]="enfermedad.relatocronologico" required name="relatocronologico"
        placeholder="Digite el tiempo de la enfermedad" value="comenzo con un mareo leve el 12/12/2020,  01/01/2021 fatiga y mareo
        ">

        <mat-error *ngIf="form.controls.relatocronologico && form.controls.relatocronologico.errors">
          Debe especificar el relato cronológico para poder continuar.
         </mat-error>

      </mat-form-field>

    </div>
    <div class="col-2">

      <button mat-raised-button color="primary" type="submit"
       style="width:215px">Agregar +</button>

    </div>

</form>


<div class="list">
  <div class="title"><h1>Enfermedades actuales</h1>

  </div>
  <div>

    <mat-list role="list" style="padding:0px">

      <mat-list-item role="listitem"   *ngFor="let e of consultaService.consulta.listaDeEnfermedades; let i = index"  >
        <span>{{e.nombre}}a</span>
        <button mat-icon-button color="primary" (click)="elimiarDeArray(i)" >
          <mat-icon>close</mat-icon>
        </button>

      <mat-divider></mat-divider>
      </mat-list-item>


    </mat-list>

  </div>
</div>


<div class="button">

  <button mat-raised-button color="primary" style="width: 100%;" (click)="regresar()" >Listo</button>

</div>

</div>
