<br>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de consultas

  </h1>
</section>


<div class="content shadow-sm">





  <mat-card class="box box-primary">
    <div class="container">
      <mat-form-field class="items">
        <input matInput (keyup)="searchdni($event.target.value)" placeholder="Buscar por dni" maxlength="8">

      </mat-form-field>


    </div>


    <mat-table appScrollable (scrollPosition)="scrollHandler($event)" [dataSource]="dataSource" matSort
      class="paginaciondetupapiCarrillo">
      <!-- [dataSource]="dataSource" matSort -->
      <!-- appScrollable -->


      <!-- Columna dni -->
      <ng-container matColumnDef="dni">
        <mat-header-cell *matHeaderCellDef mat-sort-header> dni </mat-header-cell>
        <mat-cell *matCellDef="let consultas"> {{consultas.dni }} </mat-cell>
      </ng-container>

      <!-- Columna nombre -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> nombre </mat-header-cell>
        <mat-cell *matCellDef="let consultas"> {{consultas.nombres | uppercase}} </mat-cell>
      </ng-container>

      <!-- Columna telefono -->
      <ng-container matColumnDef="motivo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> motivo </mat-header-cell>
        <mat-cell *matCellDef="let consultas"> {{consultas.motivo | uppercase}} </mat-cell>
      </ng-container>

      <!-- Columna Opciones -->
      <ng-container matColumnDef="opciones">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let consulta">

<button mat-flat-button  style="width: 178px; margin-right: 10px; " color="primary"
(click)="navigate2(consulta)">Ver Consulta</button>



          <button mat-flat-button [disabled]="consulta.isWithTratamiento==true"   style="width: 178px;" color="accent"
          [routerLink]="['/dental/tratamiento/crear/', consulta.id]">Reg. Tratamiento</button>

          <button mat-icon-button color="danger" aria-label="GestionarConsulta" matTooltip="Gestionar consulta">
            <mat-icon laber (click)="goGestion(consulta)">manage_search</mat-icon>

          </button>

          <button mat-icon-button color="danger" aria-label="verOdontograma" matTooltip="Ver odontograma">
            <mat-icon laber (click)="goTratamiento(consulta)">assignment</mat-icon>
          </button>

          <button mat-icon-button color="danger" aria-label="agregarPago" matTooltip="Agregar pago">
            <mat-icon laber (click)="navigate(consulta)">attach_money</mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <!-- olumna fecha -->
      <!-- <ng-container matColumnDef="fecha">
          <mat-header-cell *matHeaderCellDef mat-sort-header> fecha </mat-header-cell>
          <mat-cell *matCellDef="let consultas"> {{consultas.fecha | uppercase}} </mat-cell>
        </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <div style="display: flex; justify-content: center;">
      <mat-spinner *ngIf="flagLoading==true" [diameter]="50"></mat-spinner>
    </div>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
  </mat-card>




</div>
