<div class="eacontainer fade-in">

    <form class="form" (ngSubmit)="push(form)" #form="ngForm">
      <div class="col-2 title"><h1>Agregar antecedentes</h1></div>

      <div >
        <mat-form-field >
          <mat-label>Tipo</mat-label>
          <mat-select [ngModelOptions]="{standalone: true}"  [(ngModel)]="antecedente.tipo" >
            <mat-option value="familiar">Familiar</mat-option>
            <mat-option value="personal">Personal</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div >
        <mat-form-field  >
            <mat-label>Antecedente</mat-label>
            <input matInput  [(ngModel)]="antecedente.referencia" required name="antecedente"
            placeholder="Digite el tipo de antecedente" value="Antecedente 01">
            <mat-error *ngIf="form.controls.referencia && form.controls.referencia.errors">
              Debe especificar el antecedente para poder continuar.
             </mat-error>
          </mat-form-field>
      </div>

      <div class="col-2">
        <button mat-raised-button color="primary" type="submit"
         style="width:215px">Agregar +</button>
      </div>
    
  </form>
  
  <div class="list">
    <div class="title"><h1>Antecedentes actuales</h1>
  
    </div>
    <div>
  
      <mat-list role="list" style="padding:0px">
  
        <mat-list-item role="listitem"   *ngFor="let a of this.lstantecedentes; let i = index"  >
          <span>{{a.referencia}}</span>
          <button mat-icon-button color="primary" (click)="eliminar(i)" >
            <mat-icon>close</mat-icon>
          </button>
  
        <mat-divider></mat-divider>
        </mat-list-item>


      </mat-list>
  
    </div>
  </div>
    
</div>