<mat-sidenav-container  fullscreen>



  <mat-sidenav #sidenav class="app-sidenav">


    <mat-nav-list>



        <h3 matSubheader>Cita</h3>
        <a mat-list-item [routerLink]="['nuevacita']"  >
          <mat-icon matListIcon>perm_contact_calendar</mat-icon>
          <h3 matLine>Nuevo</h3>
        </a>
        <a mat-list-item [routerLink]="['citas']" >
          <mat-icon matListIcon>list_alt</mat-icon>
          <h3 matLine>Citas</h3>
        </a>

        <h3 matSubheader>Consulta</h3>

        <a mat-list-item [routerLink]="['consulta']">
          <mat-icon matListIcon>open_in_new</mat-icon>
          <h3 matLine>Nuevo</h3>
        </a>
        <a mat-list-item [routerLink]="['consultas']">
          <mat-icon matListIcon>receipt</mat-icon>
          <h3 matLine>Consultas</h3>
        </a>

        <h3 matSubheader>Pago</h3>

        <a mat-list-item [routerLink]="['listapagospaciente']" >
          <mat-icon matListIcon>attach_money</mat-icon>
          <h3 matLine>Ver pagos de paciente</h3>
        </a>


        <h3 matSubheader>Tratamiento</h3>
        <a mat-list-item [routerLink]="['listadoTratamientos']" >
          <mat-icon matListIcon>attach_money</mat-icon>
          <h3 matLine>tratamientos</h3>
        </a>

        <h3 matSubheader>Reportes</h3>
        <a mat-list-item [routerLink]="['historialPaciente']" >
          <mat-icon matListIcon>history_edu</mat-icon>
          <h3 matLine>Historia Clinica</h3>
        </a>
        <a mat-list-item [routerLink]="['pacientesMotivo']" >
          <mat-icon matListIcon>history_edu</mat-icon>
          <h3 matLine>Pacientes por motivo</h3>
        </a>


        <!-- <a mat-list-item target="_blank" href="https://stackblitz.com/edit/sticky-toolbar-so">
          <mat-icon matListIcon>code</mat-icon>
          <h3 matLine>View source code</h3>
        </a> -->

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: var(--bodybgcolor);">
      <app-toolbar  [opts]="opts"></app-toolbar>

<router-outlet  ></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
