/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.content{
    display: grid;
    width: 90%;
    max-width: 1200px;
    height: 700px;
    margin: 50px auto;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas: "personal basico"
                         "datos antecedentes"
                          ;
}

.personal{
    background-color: whitesmoke;
    border-radius: 20px;
    grid-area: personal;
}

.basico{
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: whitesmoke;
    /* width:100%;
    max-width: 1120px; */
    height: 340px;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 20px;
    grid-area: basico;
}
.datos{
    background-color: whitesmoke;
    border-radius: 20px;
    grid-area: datos;
    height: 340px;
}

.antecedentes{
    overflow: scroll;
    background-color: whitesmoke;
    border-radius: 20px;
    grid-area: antecedentes;
    height: 340px;
}

@media screen and (max-width: 768px){
    .content{
        grid-template-areas: "personal personal"
                             "basico  basico"
                             "datos datos"
                            "antecedentes antecedentes";

    }
}
