<div class="content">
    <mat-card class="personal">
        <mat-card-title>Personal :</mat-card-title>
        <br>
        <h3>Dni: {{paciente.dni}}</h3>
        <h3>Nombres: {{paciente.nombres}}</h3>
        <h3>Edad: {{paciente.edad}}</h3>
        <h3>Apellidos : {{paciente.apellidos}}</h3>
        <h3>Telefono : {{paciente.telefono}}</h3>
        <h3>Sexo: {{paciente.sexo}}</h3>
    </mat-card>

    <mat-card class="basico">
        <mat-card-title>Basico :</mat-card-title>
        <br>
        <h3>Direccion: {{paciente.direccion}}</h3>
        <h3>Lugar nacimiento: {{paciente.lugar_nacimiento}}</h3>
        <h3>Procedencia: {{paciente.procedencia}}</h3>
        <h3 *ngIf="paciente.telefono_referencia != ''">Telefono referencia : {{paciente.telefono_referencia}}</h3>
        <h3>Ocupacion : {{paciente.ocupacion}}</h3>
        <h3 *ngIf="paciente.referencia != ''" >Referencia: {{paciente.referencia}} </h3>
        <h3>Viajes: {{paciente.viajes}} </h3>
        <h3>Fecha nacimiento: {{paciente.fecha_nacimiento}} </h3>
    </mat-card>

    <mat-card class="datos">
        <mat-card-title>Informacion Addicional:</mat-card-title>
        <br>
        <h3>Motivo: {{consulta.motivo}}</h3>
        <h3>Nombre profesional: {{consulta.nombreprofesional}}</h3>
    </mat-card>

    <mat-card class="antecedentes">
        <mat-card-title>Antecedentes :</mat-card-title>
        <mat-list *ngFor="let antecedente of paciente.listadeAntecedentes">
        <mat-list-item><b>Tipo: {{antecedente.tipo}}</b></mat-list-item>
        <mat-list-item> Antecedente: {{antecedente.referencia}}</mat-list-item>
        </mat-list>
    </mat-card>

</div>
