<form class="dialogContent" (ngSubmit)="submit(formu)" #formu="ngForm">
  <mat-form-field
    appearance="fill"
    style="justify-self: center; width: 100%; padding: 0px"
  >
    <mat-label>Elija un concepto de pago</mat-label>
    <mat-select required [(ngModel)]="conceptoform" name="conceptoForm">
      <mat-option value="consulta">Consulta</mat-option>
      <mat-option value="otros">Otros</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    class="fullwidth"
    style="justify-self: center; width: 100%; padding: 0px"
  >
    <mat-label>Monto a pagar</mat-label>
    <input
      [(ngModel)]="monto"
      matInput
      required
      name="monto"
      placeholder="digite monto a pagar"
    />
  </mat-form-field>

  <button
    [disabled]="formu.invalid"
    mat-raised-button
    type="submit"
    color="primary"
    style="
      border-radius: var(--roudedButtonSize);
      width: fit-content;
      justify-self: center;
    "
  >
    <mat-icon>add</mat-icon> Registrar Pago
  </button>
</form>
