*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
  display: grid;
  max-width: 1200px;
  width: 90%;
  height: 500px;
  margin: 50px auto;
grid-template-rows: min-content min-content min-content;
}



.content-header{
    display: grid;
    margin: 50px auto;
    align-content: center;
    justify-items: center;
}

table {
  width: 100%;
}

