



<div class="content">


  <h2>Historial de paciente</h2>

  <div style="
  display:grid;
  grid-template-columns: 1fr min-content;

  box-sizing: border-box;
  align-items: center;
  ">
    <mat-form-field class="items" style="margin-right: 20px">
      <input
        matInput
        (keyup)="searchdni($event.target.value)"
        placeholder="Buscar por dni"
        maxlength="8"
      />
    </mat-form-field>

    <button
      style="height: min-content"
      mat-flat-button
      (click)="generarReporte()"
    >
      Generar Reporte
    </button>


  </div>


       <div class="mat-elevation-z3 tablecontainer">

      <table
        mat-table
        id="historial"
        [dataSource]="dataSource"
        style="min-height: 400;"
      >
        <!-- olumna fecha -->
        <ng-container matColumnDef="dni">
          <mat-header-cell *matHeaderCellDef> dni </mat-header-cell>
          <mat-cell *matCellDef="let historial">
            {{ historial.dni | uppercase }}
          </mat-cell>
        </ng-container>

        <!-- olumna fecha -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> nombre </mat-header-cell>
          <mat-cell *matCellDef="let historial">
            {{ historial.nombres | uppercase }}
            {{ historial.apellidos | uppercase }}</mat-cell
          >
        </ng-container>

        <!-- olumna fecha -->
        <ng-container matColumnDef="fecha">
          <mat-header-cell *matHeaderCellDef> fecha </mat-header-cell>
          <mat-cell *matCellDef="let historial">
            {{ historial.fecha | date }}
          </mat-cell>
        </ng-container>

        <!-- Columna hora -->
        <ng-container matColumnDef="motivo">
          <mat-header-cell *matHeaderCellDef> motivo </mat-header-cell>
          <mat-cell *matCellDef="let historial">
            {{ historial.motivo | uppercase }}
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
      </table>

      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
    </div>

</div>
