<form [formGroup]="form" >
<div class="maincontainer">

  <div class="datospaciente">
      <div class="datocita">

        <div class="titledatocita">
            <h1> {{titulo}}</h1>
          </div>

          <div class="pagogriditem">
            <mat-form-field class="fullwidth">
              <mat-label>Dni</mat-label>
              <input matInput required  formControlName="dni" name="dni"   maxlength="8"
                placeholder="digite el dni del paciente"
                (keydown.enter)="this.search($event.target.value, form.controls.dni.errors)"
                      (keyup.enter)="this.keyup()">
                <mat-error>
                  <div class=" text-danger" *ngIf="form.controls['dni'].errors?.pattern">
                    El campo solo admite  numeros
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['dni'].errors?.required">
                    Este campo es obligatorio
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['dni'].errors?.soloespaciosenblanco">
                    No se admiten solo espacios en blanco
                  </div>
                  <div class=" text-danger" *ngIf="form.controls['dni'].errors?.minlength">
                    Debe ser de {{form.controls['dni'].errors?.minlength.requiredLength}} numeros - cantidad actual:
                    {{form.controls['dni'].errors?.minlength.actualLength}}
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['dni'].errors?.maxlength">
                    Debe ser de {{form.controls['dni'].errors?.maxlength.requiredLength}} numeros - cantidad actual:
                    {{form.controls['dni'].errors?.maxlength.actualLength}}
                  </div>
                  </mat-error>
            </mat-form-field>
          </div>



          <div class="pagogriditem">
            <mat-form-field class="fullwidth">
              <mat-label>Nombre del paciente</mat-label>
              <input matInput required formControlName="nombres" name="nombres"  type="text"  placeholder="digite el nombre del paciente" required
                >
                <mat-error>
                  <div class=" text-danger" *ngIf="form.controls['nombres'].errors?.pattern">
                    El campo solo admite letras
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['nombres'].errors?.required">
                    Este campo es obligatorio
                  </div>

                  <div class=" text-danger" *ngIf="form.controls['nombres'].errors?.soloespaciosenblanco">
                    No se admiten solo espacios en blanco
                  </div>
                  </mat-error>
            </mat-form-field>
          </div>

          <div class="pagogriditem">
            <mat-form-field class="fullwidth">
              <mat-label>Apellido del paciente</mat-label>
              <input matInput required
              formControlName="apellidos" name="apellidos" type="text" >
              <mat-error>
                <div class=" text-danger" *ngIf="form.controls['apellidos'].errors?.pattern">
                  El campo solo admite letras
                </div>

                <div class=" text-danger" *ngIf="form.controls['apellidos'].errors?.required">
                  Este campo es obligatorio
                </div>

                <div class=" text-danger" *ngIf="form.controls['apellidos'].errors?.soloespaciosenblanco">
                  No se admiten solo espacios en blanco
                </div>
                </mat-error>
            </mat-form-field>
          </div>


          <div class="pagogriditem">
            <mat-form-field class="fullwidth">
              <mat-label>Edad</mat-label>
              <input matInput required
              formControlName="edad" name="edad" minlength="1"  maxlength="2">
              <mat-error>
                <div class=" text-danger" *ngIf="form.controls['edad'].errors?.pattern">
                  El campo solo admite numeros
                </div>

                <div class=" text-danger" *ngIf="form.controls['edad'].errors?.required">
                  Este campo es obligatorio
                </div>

                <div class=" text-danger" *ngIf="form.controls['edad'].errors?.soloespaciosenblanco">
                  No se admiten solo espacios en blanco
                </div>
                </mat-error>
            </mat-form-field>
          </div>

          <div class="pagogriditem">
            <mat-label>Sexo</mat-label>
            <br>
            <mat-radio-group aria-label="Select an option" class="fullwidth" formControlName="sexo" name="sexo" required>
              <mat-radio-button value="m">masculino</mat-radio-button>
              <mat-radio-button value="f">femenino</mat-radio-button>

            <!-- <mat-form-field class="fullwidth"> -->
              <!-- <mat-label>Sexo</mat-label> -->
              <!-- <input matInput required
              formControlName="sexo" name="sexo" type="text"> -->
            <mat-error>
              <!-- <div class=" text-danger" *ngIf="form.controls['sexo'].errors?.pattern">
                  El campo solo admite letras
                </div> -->

                <div class=" text-danger" *ngIf="form.controls['sexo'].errors?.required">
                  Este campo es obligatorio
                </div>

                <div class=" text-danger" *ngIf="form.controls['sexo'].errors?.soloespaciosenblanco">
                  No se admiten solo espacios en blanco
                </div>
                </mat-error>
            <!-- </mat-form-field> -->
          </mat-radio-group>
          </div>

          <div class="pagogriditem">
            <mat-form-field class="fullwidth">
              <mat-label>Telefono</mat-label>
              <input matInput required
              formControlName="telefono" name="telefono" type="tel"  minlength="9" maxlength="9">
              <mat-error>
                <div class=" text-danger" *ngIf="form.controls['telefono'].errors?.pattern">
                  El campo solo admite numeros
                </div>

                <div class=" text-danger" *ngIf="form.controls['telefono'].errors?.required">
                  Este campo es obligatorio
                </div>

                <div class=" text-danger" *ngIf="form.controls['telefono'].errors?.soloespaciosenblanco">
                  No se admiten solo espacios en blanco
                </div>
                <div class=" text-danger" *ngIf="form.controls['telefono'].errors?.minlength">
                  Debe ser de {{form.controls['telefono'].errors?.minlength.requiredLength}} numeros - cantidad actual:
                  {{form.controls['telefono'].errors?.minlength.actualLength}}
                </div>

                <div class=" text-danger" *ngIf="form.controls['telefono'].errors?.maxlength">
                  Debe ser de {{form.controls['telefono'].errors?.maxlength.requiredLength}} numeros - cantidad actual:
                  {{form.controls['telefono'].errors?.maxlength.actualLength}}
                </div>
                </mat-error>
            </mat-form-field>
          </div>
      </div>

  </div>

    <div class="datoscita">
      <div class="titledatocita">
        <h1>Datos de cita</h1>
      </div>
      <div class="pagogriditem">
        <mat-form-field class="fullwidth">
          <mat-label>Fecha</mat-label>
          <input matInput required formControlName="fecha" name="fecha" type="date">
          <mat-error>
            <div class=" text-danger" *ngIf="form.controls['fecha'].errors?.pattern">
              Formato de fecha invalido
            </div>

            <div class=" text-danger" *ngIf="form.controls['fecha'].errors?.required">
              Este campo es obligatorio
            </div>

            <div class=" text-danger" *ngIf="form.controls['fecha'].errors?.soloespaciosenblanco">
              No se admiten solo espacios en blanco
            </div>
            </mat-error>
        </mat-form-field>
      </div>

      <div class="pagogriditem">
        <mat-form-field class="fullwidth">
          <mat-label>Hora</mat-label>
          <input matInput required formControlName="hora" name="hora" type="time">
          <mat-error>
            <div class=" text-danger" *ngIf="form.controls['hora'].errors?.pattern">
              El campo solo admite numeros
            </div>

            <div class=" text-danger" *ngIf="form.controls['hora'].errors?.required">
              Este campo es obligatorio
            </div>

            <div class=" text-danger" *ngIf="form.controls['hora'].errors?.soloespaciosenblanco">
              No se admiten solo espacios en blanco
            </div>
            </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="footer">
      <button mat-raised-button color="primary" style="width: 100%;" type="button"
        (click)="guardarEditarCita()">Registrar Cita</button>
    </div>
  </div>


</form>
<!-- <pre>
    Estado del formulario: {{form.valid}}
    <br>
    Status: {{form.status}}
</pre>
<pre>
    {{form.value | json}}
</pre>  -->



















<!--

<br>

<section class="content-header" >
    <h1 align ="center">
        Cita
        <small>Registro</small>
    </h1>
  </section>

<form [formGroup]="form" >
<mat-card-content  >
    <div>
    <mat-form-field>
        <mat-label>dni</mat-label>
        <input matInput type="search"  placeholder="Ex. 1234567" type="text" #input>
      </mat-form-field>

    <mat-card-actions>
        <button mat-button type="button">BUSCAR</button>

      </mat-card-actions>

    </div>

</mat-card-content >


<div class="container" >

                <mat-form-field appearance="fill" >
                    <mat-label >dni</mat-label>
                    <input matInput  type="text" formControlName="dni" name="dni" >
                </mat-form-field>


                <mat-form-field appearance="fill">
                    <mat-label >nombre</mat-label>
                    <input matInput  type="text" formControlName="nombre" name="nombre" >
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>apellido</mat-label>
                    <input matInput type="text" formControlName="apellido" name="apellido" >
                </mat-form-field>

        </div>

        <div class="container">

                <mat-form-field appearance="fill" >
                    <mat-label>edad</mat-label>
                    <input matInput type="text" formControlName="edad" name="edad" >
                </mat-form-field>

                <mat-form-field appearance="fill" >
                    <mat-label>sexo</mat-label>
                    <input matInput type="text" formControlName="sexo" name="sexo" >
                </mat-form-field>

                <mat-form-field appearance="fill" >
                    <mat-label>telefono</mat-label>
                    <input matInput type="tel" formControlName="telefono" name="telefono" >
                </mat-form-field>

        </div >

        <div class="container">

                <mat-form-field  appearance="fill" >
                    <mat-label>fecha</mat-label>
                    <input matInput type="date" formControlName="fecha" name="fecha" >
                </mat-form-field>

                <mat-form-field appearance="fill" >
                    <mat-label>hora</mat-label>
                    <input matInput type="time"  formControlName="hora" name="hora" >
                </mat-form-field>

        </div>

            <mat-card-actions>
                <button mat-button type="button" (click)="guardar()">GUARDAR</button>

              </mat-card-actions>

            -->
