.maincontainer {
    margin: var(--paddingContenedores) auto;
    display: grid;
  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: var(--paddingContenedores);
    grid-template-areas: "datospaciente datoscita"
      "footer footer";
  
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px var(--paddinggeneral);
  
  
  }
  
  
  .datospaciente {
    grid-row: datospaciente;
    grid-column: datospaciente;
    padding: var(--paddingContenedores) 0px;
    border-radius: var(--radiusgeneral);
    box-shadow: var(--boxShadowGeneral);
    background-color: var(--primaryBackground)
  }
  
  .datoscita {
    grid-column: datoscita;
    padding: var(--paddingContenedores) 0px;
    grid-row: datoscita;
    border-radius: var(--radiusgeneral);
    box-shadow: var(--boxShadowGeneral);
    background-color: var(--primaryBackground)
  }
  
  .footer {
    grid-row: footer;
    grid-column: footer;
    background: coral;
  
  }
  
  .pagogriditem {
    box-sizing: border-box;
    padding: 0px var(--paddingContenedores);
    justify-self: center;
    align-self: center;
    width: 100%;
  }
  
  h1 {
    margin: 0px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-raised-button {
    width: 100% !important;
  }
  
  .titledatocita {
    grid-column-start: titledatocita;
    grid-column-end: titledatocita;
    box-sizing: border-box;
    padding: 0px var(--paddingContenedores);
    color: #5B5B5B;
    /* display: grid;
  
  justify-items: center;
  align-items: center; */
    margin-bottom: var(--paddinggeneral);
  }
  
  @media screen and (max-width: 500px){
  
  
    .maincontainer {
      grid-template-areas: "datospaciente datospaciente"
                          "datoscita datoscita"
                          "footer footer";
                          grid-gap: var(--paddinggeneral);
  
    }
  
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  