*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    display: grid;
    max-width: 1200px;
    width: 90%;
    height: 500px;
    margin: 50px auto;
  grid-template-rows: min-content min-content min-content;
  }

.table {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr max-content;
    /* justify-content: space-between; */
    align-items: center;
}

