
  <div class="content shadow-sm" >





    <h2>Tratamientos</h2>


      <mat-form-field class="items">
        <input matInput (keyup)="searchdni($event.target.value)"  placeholder="Buscar por dni" maxlength="8" >
      </mat-form-field>



      <div class="mat-elevation-z3 tablecontainer">

      <mat-table style="min-height: 400;" appScrollable (scrollPosition)="scrollHandler($event)" [dataSource]="dataSource" matSort class="paginaciondetupapiCarrillo" >
        <!-- [dataSource]="dataSource" matSort -->
        <!-- appScrollable -->


        <!-- Columna dni -->
        <ng-container matColumnDef="dni">
          <mat-header-cell *matHeaderCellDef mat-sort-header> dni </mat-header-cell>
          <mat-cell *matCellDef="let tratamientos"> {{tratamientos.dniPaciente }} </mat-cell>
          (click)="onClick(tratamientos)"
        </ng-container>

        <!-- Columna nombre -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> nombre </mat-header-cell>
          <mat-cell *matCellDef="let tratamientos"> {{tratamientos.nombreCompleto | uppercase}} </mat-cell>
        </ng-container>

          <!-- Columna telefono -->
          <ng-container matColumnDef="tratamiento">
            <mat-header-cell *matHeaderCellDef mat-sort-header> tratamiento </mat-header-cell>
            <mat-cell *matCellDef="let tratamientos"> {{tratamientos.nombreTratamiento }} </mat-cell>
        </ng-container>

        <!-- Columna telefono -->
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header> fecha </mat-header-cell>
            <mat-cell *matCellDef="let tratamientos"> {{tratamientos.fecha  * 1000 | date:'short' }} </mat-cell>
        </ng-container>



        <!-- Columna Opciones -->
        <ng-container matColumnDef="opciones">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let tratamiento" >

            <button mat-icon-button color="danger" aria-label="Crear Tratamiento" matTooltip="Modificar sessiones">
              <mat-icon laber [routerLink]="['/dental/tratamiento/addsession', 1, tratamiento.id]">update</mat-icon>
            </button>

            <!-- <button mat-icon-button color="danger" aria-label="Crear Tratamiento">
                <mat-icon laber [routerLink]="['/dental/tratamiento/', tratamiento.id]">assignment_ind</mat-icon>
            </button> -->
            <!-- <button mat-flat-button  style="width: 171px;" color="primary" [routerLink]="['/dental/tratamiento/', tratamiento.id]"
            >Agregar Sesion</button> -->



            <!-- <button mat-icon-button color="danger" aria-label="agregarPago">
              <mat-icon laber (click)="navigate(consulta)">attach_money</mat-icon>
          </button> -->
          <button mat-icon-button color="danger" aria-label="menuConsulta">
            <mat-icon (click)="navigateToPagoTratamiento(tratamiento)" laber >paid</mat-icon>
        </button>
          </mat-cell>
        </ng-container>

        <!-- olumna fecha -->
        <!-- <ng-container matColumnDef="fecha">
          <mat-header-cell *matHeaderCellDef mat-sort-header> fecha </mat-header-cell>
          <mat-cell *matCellDef="let consultas"> {{consultas.fecha | uppercase}} </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      </div>
<div  style="display: flex; justify-content: center;">
  <mat-spinner  *ngIf="flagLoading==true" [diameter]="50"></mat-spinner>
</div>




  </div>
