<br>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Lista de citas

    </h1>
  </section>


  <div class="content shadow-sm" >





    <mat-card class="box box-primary">
      <div class="container">
      <mat-form-field class="items">
        <input matInput (keyup)="searchdni($event.target.value)" placeholder="Buscar por dni" maxlength="8">
      </mat-form-field>


      </div>


      <mat-table appScrollable (scrollPosition)="scrollHandler($event)" [dataSource]="dataSource" matSort class="paginaciondetupapiCarrillo"  >

        <!-- Columna dni -->
        <ng-container matColumnDef="dni">
          <mat-header-cell *matHeaderCellDef mat-sort-header> dni </mat-header-cell>
          <mat-cell *matCellDef="let citas"> {{citas.dni }} </mat-cell>
        </ng-container>

        <!-- Columna nombre -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> nombre </mat-header-cell>
          <mat-cell *matCellDef="let citas"> {{citas.nombres | uppercase}} {{citas.apellidos | uppercase}} </mat-cell>
        </ng-container>

        <!-- Columna telefono -->
        <ng-container matColumnDef="telefono">
            <mat-header-cell *matHeaderCellDef mat-sort-header> telefono </mat-header-cell>
            <mat-cell *matCellDef="let citas"> {{citas.telefono | uppercase}} </mat-cell>
          </ng-container>

        <!-- olumna fecha -->
        <ng-container matColumnDef="fecha">
          <mat-header-cell *matHeaderCellDef mat-sort-header> fecha </mat-header-cell>
          <mat-cell *matCellDef="let citas"> {{citas.fecha | date}} </mat-cell>
        </ng-container>

        <!-- Columna hora -->
        <ng-container matColumnDef="hora">
          <mat-header-cell *matHeaderCellDef mat-sort-header> hora </mat-header-cell>
          <mat-cell *matCellDef="let citas" > {{citas.hora | uppercase}} </mat-cell>
        </ng-container>

        <!-- Columna Opciones -->
        <ng-container matColumnDef="opciones">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let citas" >

            <button mat-icon-button color="danger" aria-label="Editar Este Docente" >
                <mat-icon matListIcon  (click)="editarCita(citas)">edit</mat-icon>
                <!-- routerLinkActive="active" [routerLink]="['editarcita', citas.id]" -->
            </button>

            <button mat-icon-button color="danger" aria-label="Mas informacion" type="button" (click)="delete(citas.id)">
              <!-- <mat-icon laber>more_horiz</mat-icon> -->
              <mat-icon matListIcon>delete</mat-icon>
            </button>

           <!-- <a routerLink="/docente/modify">Actualizar</a> -->
           <!--
            <button type="button" class="btn btn-primary" data-toggle="modal" (click)="abrirModal(p.idpedido)"
            data-target="#exampleModal">Mas info
            </button>
            -->
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
<div  style="display: flex; justify-content: center;">
  <mat-spinner  *ngIf="flagLoading==true" [diameter]="50"></mat-spinner>
</div>

      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
    </mat-card>




  </div>
