  /* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  /* width: 50%; */
  width: max-content;
}

.container{
  /* border-style: solid; */
  overflow: hidden;
}

.items{
  margin: 1em;
  padding: 1em;
 float: left;
}


.paginaciondetupapiCarrillo{
  max-height: 450px;
  overflow: auto;
}


mat-card{
 justify-self: center;
}
