<div>
    <mat-selection-list #medicamento [multiple]="false">
        <mat-list-option>ABCDE</mat-list-option>
    </mat-selection-list>
</div>

<!--
    <mat-step>
      <ng-template matStepLabel>Odontograma</ng-template>
      <app-odontograma></app-odontograma>

      <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" matStepperBack>Anterior</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button color="primary" matStepperNext>Siguiente</button></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
      </mat-grid-list>

    </mat-step>

-->

<!--

        <mat-step [stepControl]="form4">

        <form [formGroup]="form4">
          <ng-template matStepLabel>Cuatro</ng-template>
          
          <mat-grid-list cols="3" rowHeight="80px">

              <mat-grid-tile [colspan]="1" [rowspan]="1" >
                  <mat-form-field appearance="fill">
                      <mat-label>Nombre generico medicamento</mat-label>
                      <input matInput placeholder="Nombre generico medicamento" formControlName="nombre_generico_medicamento" required>
                  </mat-form-field>
                  <br>
              </mat-grid-tile>

              <mat-grid-tile  [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="fill">
                    <mat-label>Cuidado</mat-label>
                    <input matInput placeholder="Cuidado" formControlName="cuidado" required>
                </mat-form-field>
                <br>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="3">
                <mat-selection-list #medicamento [multiple]="false">
                    <mat-list-option>Receta 1</mat-list-option>
                </mat-selection-list>
            </mat-grid-tile>
  
            <mat-grid-tile [colspan]="1" [rowspan]="1" >
                <mat-form-field appearance="fill">
                    <mat-label>Dosis</mat-label>
                    <input matInput placeholder="Dosis" formControlName="dosis" required>
                  </mat-form-field>
                  <br>
              </mat-grid-tile>

              <mat-grid-tile  [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="fill">
                    <mat-label>Examenes auxiliares</mat-label>
                    <input matInput placeholder="Examenes auxiliares" formControlName="examenes_auxiliares" required>
                </mat-form-field>
                <br>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="1" [rowspan]="1" >
                <mat-form-field appearance="fill">
                    <mat-label>Via</mat-label>
                    <input matInput placeholder="via" formControlName="via" required>
                </mat-form-field>
                <br>
              </mat-grid-tile>

              <mat-grid-tile  [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="fill">
                    <mat-label>Referencia</mat-label>
                    <input matInput placeholder="Referencia" formControlName="referencia" required>
                </mat-form-field>
                <br>
              </mat-grid-tile>
              
              <mat-grid-tile  [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="fill">
                    <mat-label>Tiempo</mat-label>
                    <input matInput placeholder="tiempo" formControlName="tiempo" required>
                  </mat-form-field>
                  <br>
              </mat-grid-tile>

            </mat-grid-list>
  
            <mat-grid-list cols="4" rowHeight="80px">
              <mat-grid-tile></mat-grid-tile>
              <mat-grid-tile><button mat-raised-button color="primary" matStepperBack>Anterior</button></mat-grid-tile>
              <mat-grid-tile><button mat-raised-button color="primary" (click)="pform3()" matStepperNext>Finalizar</button></mat-grid-tile>
              <mat-grid-tile></mat-grid-tile>
            </mat-grid-list>
  
        </form>
      </mat-step>

-->