<div id="htmlData">
<mat-grid-list cols="16" rows=3 rowHeight="100px">
  
  <mat-grid-tile (click)="select(diente)"
  *ngFor="let diente of dientes_cua1"
  [colspan]="1"
  [rowspan]="1"
  [style.background]="'#ffffff'">
  <app-object-odontograma [diente]=diente ></app-object-odontograma>
  </mat-grid-tile>

  <mat-grid-tile
  *ngFor="let i of [].constructor(3)"
  [colspan]="1"
  [rowspan]="1"
  [style.background]="'white'"
  >
  </mat-grid-tile>

  <mat-grid-tile (click)="select(diente)"
  *ngFor="let diente of dientes_cua2"
  [colspan]="1"
  [rowspan]="1"
  [style.background]="'#ffffff'">
  <app-object-odontograma [diente]=diente ></app-object-odontograma>
  </mat-grid-tile> 

  <mat-grid-tile
  *ngFor="let i of [].constructor(3)"
  [colspan]="1"
  [rowspan]="1"
  [style.background]="'white'"
  >
  </mat-grid-tile>

  <mat-grid-tile
  *ngFor="let i of [].constructor(3)"
  [colspan]="1"
  [rowspan]="1"
  [style.background]="'white'"
  >
  </mat-grid-tile>

  <mat-grid-tile (click)="select(diente)"
  *ngFor="let diente of dientes_cua3"
  [colspan]="1"
  [rowspan]="1"
  [style.background]="'#ffffff'">
  <app-object-odontograma [diente]=diente ></app-object-odontograma>
  </mat-grid-tile>  

  <mat-grid-tile
  *ngFor="let i of [].constructor(3)"
  [colspan]="1"
  [rowspan]="1"
  [style.background]="'white'"
  >
  </mat-grid-tile>

  <mat-grid-tile (click)="select(diente)"
  *ngFor="let diente of dientes_cua4"
  [colspan]="1"
  [rowspan]="1"
  [style.background]="'#ffffff'">
  <app-object-odontograma [diente]=diente ></app-object-odontograma>
  </mat-grid-tile>

</mat-grid-list>
</div>
<mat-grid-list cols="4" rowHeight="80px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile><button mat-raised-button color="primary" (click)="report()">Reporte</button></mat-grid-tile>
  <mat-grid-tile><button mat-raised-button color="primary" (click)="finish()">Finalizar</button></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>     
