<mat-card class="content" *ngFor="let i of tratamiento">
    <h1>nombre: {{i.nombreCompleto}}</h1>
  <div class="main">  
    <mat-card class="card1">
        <h1>tratamiento: {{i.nombreTratamiento}}</h1>
        <h1>dni: {{i.dniPaciente}}</h1>
        <h1>costo: {{i.costoTotal}}</h1>
        
    </mat-card>
    <section class="card2">
        <div >
            <img mat-card-image src="/assets/images/de.jpg" alt="Photo of a Shiba Inu">
        </div>
    </section>
  </div>
</mat-card>


