*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    width: 90%; 
    max-width: 1200px;
    height: 500px;
    margin: 50px auto;
   

    
}

.main{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */
    align-items: center;
}




