.eacontainer {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    padding: var(--paddingContenedores) 0px;
    display: grid;
    grid-template-rows: repeat(3 1fr);
    grid-template-columns: 1fr;
    grid-gap: var(--paddingContenedores);
    grid-template-areas:
      "data"
      "form"
      "list"
      "button"
    ;
}

.data {
  grid-row: data;
  grid-column: data;
  background-color: var(--primaryBackground);
  grid-gap: var(--paddinggeneral);
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(1, 1fr);
  border-radius: var(--radiusgeneral);
  box-shadow: var(--boxShadowGeneral);
}

.data>.col-2 {
  grid-column-start: 1;
  grid-column-end: -1;
}

  
.eacontainer>div,form {
  padding: var(--paddingContenedores);
}
  
.form>.col-2 {
  grid-column-start: 1;
  grid-column-end: -1;
}

.form {
  grid-row: form;
  grid-column: form;
  background-color: var(--primaryBackground);
  grid-gap: var(--paddinggeneral);
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: repeat(2, 1fr);
  border-radius: var(--radiusgeneral);
  box-shadow: var(--boxShadowGeneral);
}
  
.list {
  grid-row: list;
  grid-column: list;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  /* estilos del contenedor */
  background-color: var(--primaryBackground);
  border-radius: var(--radiusgeneral);
  box-shadow: var(--boxShadowGeneral);
}
  
.button {
  grid-row: button;
  grid-column: button;
  padding: 0px!important;
}
  
mat-form-field {
  width: 100%;
}
  
.title {
  box-sizing: border-box;
  color: #5B5B5B;
  margin-bottom: var(--paddinggeneral);
  margin: 0px;
}
  
::ng-deep .mat-list-item-content{
  justify-content: space-between;
}
  