<div class="eacontainer fade-in">

    <form *ngIf="this.update == false" class="data" #form_t="ngForm">

      <div class="col-2 title">
        <h1>Datos del tratamiento</h1>
      </div>

      <div >
        <mat-form-field >
          <mat-label >Nombre</mat-label>
          <input pattern="^[a-zA-Z\s]*$" type="text" matInput [(ngModel)]="tratamiento.nombreTratamiento" required name="name"
            placeholder="Digite el nombre del tratamiento" value="Tratamiento 01">
            <mat-error *ngIf="form.controls.name && form.controls.name.errors">
              Debe especificar el nombre para poder conitnuar
             </mat-error>
          </mat-form-field>
      </div>

      <div >
        <mat-form-field  >
            <mat-label>Monto abonado</mat-label>
            <input type="number" matInput  [(ngModel)]="tratamiento.montoAbonado" required name="montoAbonado"
            placeholder="Digite el monto abonado" value="Monto 01">
            <mat-error *ngIf="form.controls.montoAbonado && form.controls.montoAbonado.errors">
              Debe especificar el monto abonado para poder continuar.
             </mat-error>
          </mat-form-field>
      </div>
    </form>

    <form class="form" (ngSubmit)="push(form)" #form="ngForm">

      <div class="col-2 title">
        <h1>Datos de la sesion</h1>
      </div>

      <div >
        <mat-form-field >
          <mat-label >Servicio</mat-label>
          <mat-select [ngModelOptions]="{standalone: true}" required  [(ngModel)]="sesion.servicio">
            <mat-option *ngFor="let servicio of servicios" value="{{servicio.text}}">{{servicio.text}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div >
        <mat-form-field  >
            <mat-label>Precio</mat-label>
            <input type="number" matInput  [(ngModel)]="sesion.precio" required name="precio"
            placeholder="Digite el precio de la sesion" value="Precio 01">
            <mat-error *ngIf="form.controls.precio && form.controls.precio.errors">
              Debe especificar el precio para poder continuar.
             </mat-error>
          </mat-form-field>
      </div>

      <div class="col-2">
        <mat-form-field  >
            <mat-label>Fecha</mat-label>
            <input type="date" matInput [(ngModel)]="sesion.fecha"
            name="fecha" placeholder="Fecha" required>
            <mat-error *ngIf="form.controls.fecha && form.controls.fecha.errors">
              Debe especificar la fecha para poder continuar.
             </mat-error>
          </mat-form-field>
      </div>

      <div class="col-2">
        <button mat-raised-button color="primary" type="submit"
         style="width:215px">Agregar +</button>
      </div>

    </form>

    <div class="list">
        <div class="title"><h1>Sessiones - Costo total : {{tratamiento.costoTotal}}</h1></div>
        <div>
          <mat-list role="list" style="padding:0px">
            <mat-list-item role="listitem" *ngFor="let s of tratamiento.sessiones; let i = index"  >
              <span>{{s.servicio}}</span>
              <button mat-icon-button color="primary" (click)="eliminar(i)" >
                <mat-icon>close</mat-icon>
              </button>
            <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
    </div>

  <div class="button">
    <button mat-raised-button color="primary" style="width: 100%;" (click)="save()" >Listo</button>
  </div>

</div>
