
  <div class="contentpacientelst">

  <h2>Lista pacientes</h2>



<form #f="ngForm" (ngSubmit)="filtrar(f)" style="
        grid-gap: 10px;
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: min-content min-content;
        align-items: start;
      ">
      <!-- (keyup)="searchMotivo($event.target.value)" -->



      <mat-form-field>
        <mat-label>Servicio</mat-label>
        <mat-select [(ngModel)]="servicio" name="motivo" required>
          <mat-option *ngFor="let servicio of servicios" [value]="servicio.text">
            {{servicio.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Fecha incio</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaInicio" name="fechaInicio" required />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha fin</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin" name="fechaFin" required />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <button type="submit" mat-raised-button>Buscar</button>
    </form>


<div style="
display: grid;
grid-template-rows: min-content 1fr;
" class="mat-elevation-z3 tablecontainer">

  <button mat-flat-button style="width: 200px; justify-self: end; margin-top: 10px;" (click)="generarReporte()">
    Generar Reporte
  </button>



    <mat-table appScrollable (scrollPosition)="scrollHandler($event)" [dataSource]="datasource" matSort
      class="paginaciondetupapiCarrillo" id="htmlData">

      <!-- Columna dni -->
      <ng-container matColumnDef="dni">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          dni
        </mat-header-cell>
        <mat-cell *matCellDef="let tratamiento"> {{ tratamiento.dniPaciente }} </mat-cell>
      </ng-container>

      <!-- Columna nombre -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          nombre
        </mat-header-cell>
        <mat-cell *matCellDef="let tratamiento">
          {{ tratamiento.nombreCompleto | uppercase }}

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          telefono
        </mat-header-cell>
        <mat-cell *matCellDef="let tratamiento">
          {{ tratamiento.telefonoPaciente }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header> fecha </mat-header-cell>
        <mat-cell *matCellDef="let tratamiento"> {{tratamiento.fecha | date}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>
    <div style="display: flex; justify-content: center">
      <mat-spinner *ngIf="flagLoading == true" [diameter]="50"></mat-spinner>
    </div>

</div>
</div>
