.content-header{
  margin-top: 20px;
  display: grid;
  grid-template-rows: 1fr min-content;

  align-content: center;
  justify-items: center;
}



.contentpacientelst{
  display: grid;
  max-width: 1200px;
  width: 90%;
  height: 500px;
  margin: 50px auto;
grid-template-rows: min-content min-content min-content;
}


.content{
  display: grid;
  max-width: 1200px;
  width: 90%;
  height: 500px;
  margin: 50px auto;
grid-template-rows: min-content min-content min-content;
}
