.maincontainerlistarpagospaciente {
  margin: 0 auto;
  max-width: 1200px;
  width: 1200px;

}

.containerlistapagos {
  display: grid;
  grid-template-columns: 1fr;


  width: 100%;
  padding: var(--paddingContenedores);
  box-sizing: border-box;
}

.griditemlpp {
  justify-self: center;

}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
