<div class="maincontainerlistarpagospaciente">


  <div class="containerlistapagos">

    <h2>Ver pagos por paciente</h2>



    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    </mat-form-field>

    <div class="mat-elevation-z3 tablecontainer">
      <table  style="min-height: 400;" mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="nombres">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
          <td mat-cell *matCellDef="let row"> {{row.nombres}}  </td>
        </ng-container>
        <!-- {{row.apellidos}} -->
        <!-- Progress Column -->
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
          <td mat-cell *matCellDef="let row"> {{row.dni}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="edad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad </th>
          <td mat-cell *matCellDef="let row"> {{row.edad}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
          <td mat-cell *matCellDef="let row" > {{row.direccion}} </td>
        </ng-container>

        <ng-container matColumnDef="botones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
          <td mat-cell *matCellDef="let row" >
            <button mat-icon-button color="danger" (click)="generarReporte(row)" aria-label="menuConsulta">
              <mat-icon  laber >paid</mat-icon>
          </button>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

</div>
</div>
