<div class="eacontainer fade-in">

    <form class="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="col-2 title"><h1>Agregar datos de la receta</h1></div>
      <div >
        <mat-form-field >
          <mat-label >Nombre medicamento</mat-label>
          <input matInput [(ngModel)]="receta.nombre_generico_medicamento" required name="nombre_generico_medicamento"
           placeholder="Digite nombre generico del medicamento" value="Nombre 01">

           <mat-error *ngIf="form.controls.nombre_generico_medicamento && form.controls.nombre_generico_medicamento.errors">
            Debe escribir el nombre generico del medicamento
           </mat-error>
          </mat-form-field>
      </div>

      <div >
        <mat-form-field  >
            <mat-label>Dosis</mat-label>
            <input matInput  [(ngModel)]="receta.dosis" required name="dosis"
            placeholder="Digite la dosis de la receta" value="Dosis 01">
            <mat-error *ngIf="form.controls.dosis && form.controls.dosis.errors">
              Debe especificar la dosis para poder continuar.
             </mat-error>
          </mat-form-field>
      </div>

      <div class="col-2">
        <mat-form-field  >
            <mat-label>Cuidado</mat-label>
            <input matInput [(ngModel)]="receta.cuidado" required name="cuidado"
            placeholder="Digite el cuidado de la receta" value="Cuidado 01">
            <mat-error *ngIf="form.controls.cuidado && form.controls.cuidado.errors">
              Debe especificar el cuidado para poder continuar.
             </mat-error>
          </mat-form-field>
      </div>

      <div class="col-2">
        <mat-form-field  >
          <mat-label>Via administracion</mat-label>
          <input matInput [(ngModel)]="receta.via_administracion" required name="via_administracion"
          placeholder="Digite la via de administracion" value="via de administracion 1">
          <mat-error *ngIf="form.controls.via_administracion && form.controls.via_administracion.errors">
            Debe especificar la via de administracion
           </mat-error>
        </mat-form-field>
      </div>

      <div class="col-2">
        <mat-form-field  >
          <mat-label>Tiempo</mat-label>
          <input matInput [(ngModel)]="receta.tiempo" required name="tiempo"
          placeholder="Digite el tiempo de la receta" value="Tiempo 01">

          <mat-error *ngIf="form.controls.tiempo && form.controls.tiempo.errors">
            Debe especificar tiempo para poder continuar.
           </mat-error>

        </mat-form-field>
      </div>

      <div class="col-2">
        <mat-form-field  >
          <mat-label>Medidas higienicas</mat-label>
          <input matInput [(ngModel)]="receta.medidas_higienicas" required name="medidas_higienicas"
          placeholder="Digite la medidas higienicas de la receta" value="Medidas Higienicas 01">

          <mat-error *ngIf="form.controls.medidas_higienicas && form.controls.medidas_higienicas.errors">
            Debe especificar medidas higienicas para poder continuar.
           </mat-error>

        </mat-form-field>
      </div>

      <div class="col-2">
        <button mat-raised-button color="primary" type="submit"
         style="width:215px">Agregar +</button>
      </div>

  </form>


  <div class="list">
    <div class="title"><h1>Prescripcion</h1>

    </div>
    <div>

      <mat-list role="list" style="padding:0px">

        <mat-list-item role="listitem"   *ngFor="let e of consultaService.consulta.listaDeRecetas; let i = index"  >
          <span>{{e.nombre_generico_medicamento}}</span>
          <button mat-icon-button color="primary" (click)="elimiarDeArray(i)" >
            <mat-icon>close</mat-icon>
          </button>

        <mat-divider></mat-divider>
        </mat-list-item>




        <!-- <mat-list-item role="listitem"  >
          <span>Migrana  </span>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>close</mat-icon>
          </button>
        </mat-list-item> -->


      </mat-list>

    </div>
  </div>


  <div class="button">

    <button mat-raised-button color="primary" style="width: 100%;" (click)="regresar()" >Listo</button>

  </div>

  </div>
