/* You can add global styles to this file, and also import other style files */
:root{
  --paddinggeneral : 8px;
  --radiusgeneral : 15px;
 --paddingContenedores: 45px;

  --bodybgcolor:rgba(255, 255, 255, 0.884);

  --boxShadowGeneral : 3px 4px rgba(0, 0, 0, 0.2);

  --primaryBackground : rgba(255, 255, 255, 0.945);

  --roudedButtonSize : 15px;


  --colorTitulos:#202020;

  --gridGap:20px;
  --gridGapMedium:15px;
  --commentColor:#B7B7B7;
}

html, body {
   height: 100%;


}


@font-face {
  font-family: "roboto";
  src: local("roboto"), url(./assets/fonts/Roboto-Regular.ttf);
}

.titulo2{
  display: grid;
  font-size: 20px;
  color: var(--colorTitulos);
  font-family: "roboto";

  align-items: center;
  margin-bottom: 30px;
}

simple-snack-bar span{
  margin: auto;
  text-align: center;
}

.containertitle {
  box-sizing: border-box;
  color: #5B5B5B;
  margin-bottom: var(--paddinggeneral);
  margin: 0px;
}

.headLine3{
  color: var(--commentColor);
  font-size: 20px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.tablecontainer{

min-height: 400px;


}


.fade-in {
  animation: fadeIn ease 0.8s;
  -webkit-animation: fadeIn ease 0.8s;
  -moz-animation: fadeIn ease 0.8s;
  -o-animation: fadeIn ease 0.8s;
  -ms-animation: fadeIn ease 0.8s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
