<div class="maincontainer">


  <mat-card class="datosplan mat-elevation-z3">
    <div class="titulo2 colu2">Datos de tratamiento</div>

    <div class="pagogriditem">
      <mat-form-field class="fullwidth">
        <mat-label>Codigo de consulta</mat-label>
        <input disabled matInput required [(ngModel)]="tratamiento.id_consulta"  name="idConsulta"
          placeholder="digite el codigo de la consulta" />
      </mat-form-field>
    </div>

    <div class="pagogriditem">
      <mat-form-field class="fullwidth">
        <mat-label>Nombre del tratamiento</mat-label>
        <input matInput required   [(ngModel)]="tratamiento.nombreTratamiento" name="nombreTratamiento"
          placeholder="digite el nombre del paciente" disabled />
      </mat-form-field>
    </div>

    <div class="pagogriditem">
      <mat-form-field class="fullwidth">
        <mat-label>Nombre del paciente</mat-label>
        <input matInput required [(ngModel)]="tratamiento.nombreCompleto" name="nombres"
          placeholder="digite el nombre del paciente" disabled />
      </mat-form-field>
    </div>

    <div class="pagogriditem">
      <mat-form-field class="fullwidth">
        <mat-label>DNI</mat-label>
        <input matInput required   [(ngModel)]="tratamiento.dniPaciente" name="dni" id="dni" disabled />
      </mat-form-field>
    </div>



    <div class="pagogriditem">
      <mat-form-field class="fullwidth">
        <mat-label>Fecha - hora</mat-label>
        <input matInput required  [(ngModel)]="fechaParseada"  name="fecha" id="fecha" disabled />
      </mat-form-field>
    </div>
  </mat-card>

<mat-card class="datospago mat-elevation-z3">
  <div class="titulo2 colu2">Datos de pagos</div>

  <div class="pagogriditem">
    <mat-form-field class="fullwidth">
      <mat-label>Presupuesto total</mat-label>
      <input disabled matInput required [(ngModel)]="tratamiento.costoTotal"  name="presupuestoTotal"
       />
    </mat-form-field>
  </div>

  <div class="pagogriditem">
    <mat-form-field class="fullwidth">
      <mat-label>Monto abonado</mat-label>
      <input matInput required   [(ngModel)]="tratamiento.montoAbonado"  name="montoabonado"
       disabled />
    </mat-form-field>
  </div>

  <div class="pagogriditem">
    <mat-form-field class="fullwidth">
      <mat-label>Monto restante</mat-label>
      <input matInput required   [(ngModel)]="montoRestante"  name="montoabonado"
       disabled />
    </mat-form-field>
  </div>

  <div class="pagogriditem">
    <mat-form-field class="fullwidth">
      <mat-label>Monto a pagar</mat-label>
      <input matInput required name="monto" type="number" [formControl]="montoControl"
        placeholder="digite el monto a pagar"  />
        <mat-error *ngIf="montoControl?.errors?.required">
         Debe escribir un monto a pagar
      </mat-error>
    </mat-form-field>
  </div>



<div class="pagogriditem">

  <button style="width: 100%; margin-top: 20px;" [disabled]="montoControl.invalid" (click)="realizarPagoTratamiento()" mat-raised-button color="primary">Pagar</button>
</div>


</mat-card>

<mat-card class="listaservicios mat-elevation-z3">
  <div class="titulo2 colu2">Lista de servicios</div>
  <mat-selection-list #sesion [multiple]="false" style="margin-left: var(--paddingContenedores);margin-right: var(--paddingContenedores)">
    <mat-list-option  *ngFor="let sesion of tratamiento.sessiones" [value]="sesion">
     <div class="listiteminline"> {{sesion.servicio}}</div> <div class="listiteminline">{{sesion.fecha | date}}</div>
    </mat-list-option>
  </mat-selection-list>

</mat-card>


<mat-card class="tablapagos mat-elevation-z3">
  <div class=" colu2">

    <div class="titulo2">Lista de pagos</div>
   <button mat-flat-button (click)="generarReportePagos()" style="margin-right: 10px;">Generar Reporte</button>

  </div>



  <table  id="pagostratamiento" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Concepto">
      <th mat-header-cell *matHeaderCellDef>Concepto</th>
      <td mat-cell *matCellDef="let row">{{ row.concepto }}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="Monto">
      <th mat-header-cell *matHeaderCellDef>Monto</th>
      <td mat-cell *matCellDef="let row">{{ row.monto }}</td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let row">{{ row.fecha | date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>


<!--
<div class="footer">
  <button mat-raised-button color="primary" style="width: 100%;">Registrar Pago</button>
</div> -->



