.maincontainer {
  margin: var(--paddingContenedores) auto;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: var(--paddingContenedores);


  grid-template-areas: "datosplan datospago"
                        "listaservicios tablapagos";

  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px var(--paddinggeneral);


}


.colu2{
  align-self: center;
  display: grid;
  grid-template-columns: 1fr min-content;

  align-items: center;

  grid-column:  span 2;
  margin-left: var(--paddingContenedores);
}

.datosplan {
  grid-row: datosplan;
  grid-column: datosplan;
  padding: var(--paddingContenedores) 0px;

  box-sizing: border-box;
  display: grid;
  column-gap: var(--gridGap);
  grid-template-columns: 1fr 1fr;
}

.datospago {
  grid-column: datospago;
  grid-row: datospago;
  padding: var(--paddingContenedores) 0px;

}

.mat-list-base .mat-list-item .mat-list-text, .mat-list-base .mat-list-option .mat-list-text {
  flex-direction: row!important;
}

::ng-deep  .mat-list-text{
  flex-direction: row!important;
  justify-content: space-between;
}

table {
  width: 100%;
}

.example-container {
  height: 200px;
  width: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;

  justify-items: center;
}
.listiteminline{
  width: fit-content;
  display: inline!important;
}
.listaservicios
{
  grid-column: listaservicios;
  grid-row: listaservicios;
  padding: var(--paddingContenedores) 0px;
}

.tablapagos{
  grid-column: tablapagos;
  grid-row: tablapagos;
  padding: var(--paddingContenedores) 0px;
}

.footer {
  grid-row: footer;
  grid-column: footer;
  background: coral;

}

.pagogriditem {
  box-sizing: border-box;
  padding: 0px var(--paddingContenedores);
  justify-self: center;
  align-self: center;
  width: 100%;
}

h1 {
  margin: 0px;
}

mat-form-field {
  width: 100%;
}

mat-raised-button {
  width: 100% !important;
}

.titledatospago {
  grid-column-start: titledatospago;
  grid-column-end: titledatospago;
  box-sizing: border-box;
  padding: 0px var(--paddingContenedores);
  color: #5B5B5B;
  /* display: grid;

justify-items: center;
align-items: center; */
  margin-bottom: var(--paddinggeneral);
}

@media screen and (max-width: 500px){


  .maincontainer {
    grid-template-areas: "datosplan datospago"
                        "listaservicios tablapagos"
                        "footer footer";
                        grid-gap: var(--paddinggeneral);

  }

}
